<% provide(:title, 'Advanced Help') %>

<ol class="breadcrumb">
  <li>
    <%= link_to 'Help', help_path %>
  </li>
  <li class="active">Advanced Help</li>
</ol>

<div class="pull-right">
  <%= render partial: 'search_field' %>
</div>

<div class="psap-page-title">
  <h1>Advanced Help</h1>
</div>

<ul>
  <li>Audiovisual Formats
    <ul>
      <li><%= link_to 'Audiocassettes', advanced_help_category_path('av-audiocassette') %></li>
      <li><%= link_to 'Cylinders', advanced_help_category_path('av-cylinder') %></li>
      <li><%= link_to 'Film', advanced_help_category_path('av-film') %></li>
      <li><%= link_to 'Open Reel Audio', advanced_help_category_path('av-audioopenreel') %></li>
      <li><%= link_to 'Open Reel Video', advanced_help_category_path('av-videoopenreel') %></li>
      <li><%= link_to 'Optical Media', advanced_help_category_path('av-opticalmedia') %></li>
      <li><%= link_to 'Phonographic Discs', advanced_help_category_path('av-phonodisc') %></li>
      <li><%= link_to 'Wire Recordings', advanced_help_category_path('av-wire') %></li>
    </ul>
  </li>
  <li>Digital Prints
    <ul>
      <li><%= link_to 'Inkjet', advanced_help_category_path('digital-inkjet') %></li>
    </ul>
  </li>
  <li><%= link_to 'Paper (Bound)', advanced_help_category_path('paper-bound-book') %></li>
  <li>Paper (Unbound)
    <ul>
      <li>Architectural Reproductions
        <ul>
          <li><%= link_to 'Aniline Prints', advanced_help_category_path('paper-unbound-architectural-aniline') %></li>
          <li><%= link_to 'Blueprints', advanced_help_category_path('paper-unbound-architectural-blueprint') %></li>
          <li><%= link_to 'Diazo', advanced_help_category_path('paper-unbound-architectural-diazo') %></li>
          <li><%= link_to 'Ferrogallic', advanced_help_category_path('paper-unbound-architectural-ferrogallic') %></li>
          <li><%= link_to 'Hectograph', advanced_help_category_path('paper-unbound-architectural-hectograph') %></li>
          <li><%= link_to 'Photostatic', advanced_help_category_path('paper-unbound-architectural-photostat') %></li>
          <li><%= link_to 'Unidentified Formats', advanced_help_category_path('paper-unbound-architectural-unidentified') %></li>
          <li><%= link_to 'Van Dyke', advanced_help_category_path('paper-unbound-architectural-vandyke') %></li>
          <li><%= link_to 'Wash-off', advanced_help_category_path('paper-unbound-architectural-washoff') %></li>
        </ul>
      <li>Office Copies
        <ul>
          <li><%= link_to 'Carbonless Paper', advanced_help_category_path('paper-unbound-officecopy-carbonless') %></li>
          <li><%= link_to 'Copybooks', advanced_help_category_path('paper-unbound-officecopy-copybook') %></li>
          <li><%= link_to 'Diazo Prints', advanced_help_category_path('paper-unbound-officecopy-diazo') %></li>
          <li><%= link_to 'Dye Ink Transfer', advanced_help_category_path('paper-unbound-officecopy-dyeinktransfer') %></li>
          <li><%= link_to 'Electrofax', advanced_help_category_path('paper-unbound-officecopy-electrofax') %></li>
          <li><%= link_to 'Electrostatic/Photocopy (Black)', advanced_help_category_path('paper-unbound-officecopy-electrostatic') %></li>
          <li><%= link_to 'Electrostatic/Photocopy (Color)', advanced_help_category_path('paper-unbound-officecopy-electrostatic-colorphotocopy') %></li>
          <li><%= link_to 'Inkjet', advanced_help_category_path('paper-unbound-officecopy-inkjet') %></li>
          <li><%= link_to 'Ink on Paper', advanced_help_category_path('paper-unbound-officecopy-inkonpaper') %></li>
          <li>Photographic
            <ul>
              <li><%= link_to 'Diffusion Transfer', advanced_help_category_path('paper-unbound-officecopy-photographic-diffusiontransfer') %>
              <li><%= link_to 'Photostatic', advanced_help_category_path('paper-unbound-officecopy-photographic-photostat') %>
            </ul>
          <li><%= link_to 'Thermal', advanced_help_category_path('paper-unbound-officecopy-thermal') %></li>
          <li><%= link_to 'Unidentified Formats' , advanced_help_category_path('paper-unbound-officecopy-unidentified') %></li>
        </ul>
      <li><%= link_to 'Original Documents', advanced_help_category_path('paper-unbound-originaldoc')%></li>
    </ul>
  </li>
  <li>Photographic Images
    <ul>
      <li>Color
        <ul>
          <li><%= link_to 'Chromogenic', advanced_help_category_path('photo-color-chromogenic') %></li>
          <li><%= link_to 'Color Carbro', advanced_help_category_path('photo-color-colorcarbro') %></li>
          <li><%= link_to 'Dye Transfer', advanced_help_category_path('photo-color-dyetransfer') %></li>
          <li><%= link_to 'Silver Dye Bleach', advanced_help_category_path('photo-color-silverdyebleach') %></li>
        </ul>
      <li>Direct Photographic Prints
        <ul>
          <li><%= link_to 'Ambrotypes', advanced_help_category_path('direct-ambrotype') %></li>
          <li><%= link_to 'Daguerreotypes', advanced_help_category_path('direct-daguerreotype') %></li>
          <li><%= link_to 'Tintypes', advanced_help_category_path('direct-tintype') %></li>
        </ul>
      <li>Instant Photographs
        <ul>
          <li><%= link_to 'Black and White', advanced_help_category_path('photo-instant-bw') %></li>
          <li><%= link_to 'Color', advanced_help_category_path('photo-instant-color') %></li>
        </ul>
      <li>Monochromatic
        <ul>
          <li><%= link_to 'Carbon/Woodburytype', advanced_help_category_path('photo-monochrome-carbon-woodburytype') %></li>
          <li><%= link_to 'Cyanotype', advanced_help_category_path('photo-monochrome-cyanotype') %></li>
          <li><%= link_to 'Glossy Collodion', advanced_help_category_path('photo-monochrome-glossycollodion') %></li>
          <li><%= link_to 'Matte Collodion', advanced_help_category_path('photo-monochrome-mattecollodion') %></li>
          <li><%= link_to 'Platinum/Palladium', advanced_help_category_path('photo-monochrome-platinum-palladium') %></li>
          <li><%= link_to 'Salt', advanced_help_category_path('photo-monochrome-salt') %></li>
          <li><%= link_to 'Silver Gelatin Printing Out Process (POP)', advanced_help_category_path('photo-monochrome-gelatinpop') %></li>
          <li><%= link_to 'Silver Gelatin Developing Out Process (DOP)', advanced_help_category_path('photo-monochrome-silvergelatin') %></li>
        </ul>
      <li><%= link_to 'Microforms', advanced_help_category_path('microform') %></li>
      <li>Negatives
        <ul>
          <li><%= link_to 'Chromogenic', advanced_help_category_path('negative-chromogenic') %></li>
          <li><%= link_to 'Glass', advanced_help_category_path('negative-glass') %></li>
          <li><%= link_to 'Silver Gelatin', advanced_help_category_path('negative-silvergelatin') %></li>
        </ul>
      </li>
      <li>Transparencies/Slides
        <ul>
          <li>Film
            <ul>
              <li><%= link_to 'Black and White', advanced_help_category_path('slide-film-bw') %></li>
              <li><%= link_to 'Color', advanced_help_category_path('slide-film-color') %></li>
            </ul>
          <li>Glass
            <ul>
              <li><%= link_to 'Autochrome', advanced_help_category_path('slide-glass-autochrome') %></li>
              <li><%= link_to 'Black and White', advanced_help_category_path('slide-glass-bw') %></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li><%= link_to 'Photomechanical Prints', advanced_help_category_path('photomechanical') %></li>
  <li>Objects
    <ul>
      <li><%= link_to 'Ceramic', advanced_help_category_path('advhelp-ceramics') %></li>
      <li><%= link_to 'Glass', advanced_help_category_path('advhelp-glass') %></li>
      <li><%= link_to 'Stone', advanced_help_category_path('advhelp-stone') %></li>
      <li><%= link_to 'Metal', advanced_help_category_path('advhelp-metal') %></li>
    </ul>
  </li>
  <li>Supplementary Documentation
    <ul>
      <li><%= link_to 'Institution', advanced_help_category_path('institution') %></li>
      <li><%= link_to 'Location', advanced_help_category_path('location') %></li>
      <li><%= link_to 'Significance', advanced_help_category_path('supplementary-significance') %></li>
    </ul>
  </li>
</ul>
