<% provide(:title, 'Assessment Template') %>
<% provide(:body_id, 'assessment_template') %>

<h1>Assessment Template</h1>

<div class="row">

  <!-- left column menu -->
  <div class="col-md-3">
    <nav>
      <ul class="nav nav-pills nav-stacked">
        <% i = 0; for section in @assessment.assessment_sections.order(:index) %>
          <li<%= i == 0 ? ' class=active' : '' %>>
            <a href="#<%= section.name.gsub(' ', '_') %>"><%= section.name %></a>
          </li>
        <% i += 1 end %>
      </ul>
    </nav>
  </div>

  <div class="col-md-9 tab-content">
    <% i = 0; for section in @assessment.assessment_sections.order(:index) %>
        <div id="<%= section.name.gsub(' ', '_') %>" class="tab-pane<%= i == 0 ? ' active' : '' %>">
          <h2><%= section.name %></h2>

          <% for question in section.assessment_questions.order(:index) %>
              <% options = question.assessment_question_options.order(:index) %>

              <div class="row">
                <div class="col-md-8">
                  <h3><%= question.name %>
                  <small>Weight: <%= question.weight %> |
                  <%= question.readable_question_type.downcase %></small></h3>

                  <% if options.any? %>
                      <table class="table">
                        <thead>
                        <tr>
                          <th>Option</th>
                          <th>Score</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for option in options %>
                            <tr>
                              <td><%= option.name %></td>
                              <td><%= option.value %></td>
                            </tr>
                        <% end %>
                        </tbody>
                      </table>
                  <% end %>
                </div>
                <div class="col-md-4" style="text-align:right">
                  <div class="btn-group" style="float:right">
                    <!-- Edit -->
                    <%= link_to edit_assessment_question_path(question),
                                class: 'btn btn-default' do %>
                        <%= content_tag(:span, '', class: 'glyphicon glyphicon-pencil') %>
                        Edit
                    <% end %>
                    <!-- Delete -->
                    <%= link_to assessment_question_path(question),
                                method: 'delete',
                                class: 'btn btn-default',
                                data: { confirm: 'Are you sure you want to '\
                                'delete this question?' } do %>
                        <%= content_tag(:span, '', class: 'glyphicon glyphicon-trash') %>
                        Delete
                    <% end %>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
    <% i += 1 end %>
  </div>

</div>
