<h3><%= assessable.name %></h3>
<h4>Score: <%= assessable.assessment_score %></h4>
<table class="table">
  <% assessable.assessment_section_scores.each do |section_id, score| %>
    <% section = AssessmentSection.find(section_id) %>
    <tr>
      <td class="<%= bootstrap_bg_class_for_score(score) %>">
        <%= assessment_score_characterization(score) %>
      </td>
      <td><%= section.name %>: <%= (score * 100).round(1) %></td>
    </tr>
  <% end %>
</table>
