<div class="btn-group" style="float:right">
  <!-- Print button -->
  <%= link_to 'javascript:window.print()', class: 'btn btn-default' do %>
    <%= content_tag(:span, '', class: 'glyphicon glyphicon-print') %>
    Print
  <% end %>
  <!-- Export button -->
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span class="glyphicon glyphicon-export"></span> Export
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><%= link_to 'PDF', institution_path(institution) + '.pdf' %></li>
  </ul>
</div>

<section style="clear:both">
  <h2>Institutional Preservation Infrastructure</h2>
  <%= render partial: 'assessable_section_scores',
             locals: { assessable: institution, show_title: false } %>
</section>

<hr>

<section>
  <h2>Storage Environments Overview</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Location</th>
        <% @location_assessment_sections.each do |section| %>
          <th><%= section.name %></th>
        <% end %>
        <th>Overall</th>
      </tr>
    </thead>
    <tbody>
      <% institution.locations.order(:name).each do |location| %>
        <% if location.assessment_question_responses.any? %>
          <tr>
            <td>
              <%= entity_icon(location) %>
              <%= link_to(location.name, location) %>
            </td>
            <% location.assessment_section_scores.each do |section_id, score| %>
              <td class="<%= bootstrap_bg_class_for_score(score) %>">
                <%= (score * 100).round %>
              </td>
            <% end %>
            <td class="<%= bootstrap_bg_class_for_score(location.assessment_score) %>">
              <%= (location.assessment_score * 100).round %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <h3>Not Yet Assessed</h3>
  <% if @non_assessed_locations.any? %>
    <ul class="psap-mini-entity-list">
      <% @non_assessed_locations.each do |location| %>
        <li>
          <%= entity_icon(location) %>
          <%= link_to location.name, location %>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>

<hr>

<section>
  <h2>Resources Overview</h2>
  <%= render partial: 'resource_report',
             locals: { institution: @institution } %>
</section>

<hr>

<section>
  <h2>Collections Overview</h2>
  <% institution.resources.where(resource_type: ResourceType::COLLECTION).each do |resource| %>
    <%= render partial: 'collection_report',
               locals: { resource: resource } %>
  <% end %>

  <h3>Not Yet Assessed</h3>
  <% if @non_assessed_resources.any? %>
    <ul class="psap-mini-entity-list">
      <% @non_assessed_resources.each do |resource| %>
        <li>
          <%= entity_icon(resource) %>
          <%= link_to resource.name, resource %>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
