<% all_assessed_items = resource.all_assessed_items %>
<% if all_assessed_items.any? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= glyphicon(resource) %>
        <%= link_to(resource.name, resource) %>
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <ul>
            <li>&check; Item level&nbsp;&nbsp;&#9744; Sample</li> <!-- TODO: -->
            <li><%= all_assessed_items.length %> items assessed</li>
            <li>Assessed by: <%= glyphicon(resource.user) %> <%= link_to(resource.user.full_name, resource.user) %></li>
            <li>Assessed on: <%= local_time(resource.updated_at) %></li>
            <li>Formats present:
              <ul>
                <% resource.all_assessed_items.collect{ |r| r.format }.uniq{ |f| f.id }.each do |format| %>
                  <li><%= link_to(format.name, format_id_guide_category_path(
                                                     format.format_id_guide_page,
                                                     anchor: format.format_id_guide_anchor), target: '_blank') %></li>
                <% end %>
              </ul>
            </li>
          </ul>

          <% stats = resource.assessed_item_statistics %>
          <table class="table">
            <tr>
              <td><%= (stats[:mean] * 100).round %></td>
              <td>Average/Mean</td>
            </tr>
            <tr>
              <td><%= (stats[:median] * 100).round %></td>
              <td>Median</td>
            </tr>
            <tr>
              <td><%= (stats[:high] * 100).round %></td>
              <td>High</td>
            </tr>
            <tr>
              <td><%= (stats[:low] * 100).round %></td>
              <td>Low</td>
            </tr>
          </table>
        </div>

        <!-- chart column -->
        <div class="col-sm-6">
          <%= chart_for_collection(resource) %>
        </div>
      </div>
    </div>
  </div>
<% end %>