<% all_assessed_items = resource.all_assessed_items %>
<% if all_assessed_items.any? %>
  <h3>
    <%= entity_icon(resource) %>
    <%= link_to(resource.name, resource, target: '_blank') %>
  </h3>
  <div class="row">
    <div class="col-sm-6">
      <ul>
        <li>Assessment: <%= AssessmentType::name_for_type(resource.assessment_type) %></li>
        <li><%= all_assessed_items.length %> items assessed</li>
        <li>Assessed by:
          <ul>
            <% all_assessed_items.sort{ |x,y| x.updated_at <=> y.updated_at }.
                    uniq{ |r| r.user_id }.each do |item| %>
              <li>
                <%= entity_icon(item.user) %>
                <%= link_to(item.user.full_name, item.user, target: '_blank') %>
              </li>
            <% end %>
          </ul>
        </li>
        <li>Last assessed:
          <%= all_assessed_items.sort{ |x,y| x.updated_at <=> y.updated_at }.
              last.updated_at.strftime('%B %d, %Y') %>
        </li>
        <li>Formats present:
          <ul>
            <% resource.all_assessed_items.collect{ |r| r.format }.uniq{ |f| f.id }.each do |format| %>
              <li><%= link_to(format.name, format_id_guide_category_path(
                                                 format.format_id_guide_page,
                                                 anchor: format.format_id_guide_anchor), target: '_blank') %></li>
            <% end %>
          </ul>
        </li>
      </ul>

      <% stats = resource.assessed_item_statistics %>
      <table class="table">
        <tr>
          <td><%= (stats[:mean] * 100).round %></td>
          <td>Average/Mean</td>
        </tr>
        <tr>
          <td><%= (stats[:median] * 100).round %></td>
          <td>Median</td>
        </tr>
        <tr>
          <td><%= (stats[:high] * 100).round %></td>
          <td>High</td>
        </tr>
        <tr>
          <td><%= (stats[:low] * 100).round %></td>
          <td>Low</td>
        </tr>
      </table>

      <% if resource.resource_notes.any? %>
        <ul>
          <% resource.resource_notes.each do |note| %>
            <li><%= simple_format(note.value) %></li>
          <% end %>
        </ul>
      <% end %>

    </div> <!-- col-sm-6 -->

    <!-- chart column -->
    <div class="col-sm-6">
      <%= chart_for_collection(resource) %>
    </div>
  </div>
<% end %>
