<%= render 'shared/error_messages', :object => f.object %>

<div class="form-group has-feedback">
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
  <span class="glyphicon form-control-feedback"></span>
</div>

<div class="form-group has-feedback">
  <%= f.label :address1, 'Address 1' %>
  <%= f.text_field :address1, class: 'form-control' %>
  <span class="glyphicon form-control-feedback"></span>
</div>

<div class="form-group has-feedback">
  <%= f.label :address2, 'Address 2' %>
  <%= f.text_field :address2, class: 'form-control' %>
  <span class="glyphicon form-control-feedback"></span>
</div>

<div class="form-group has-feedback">
  <%= f.label :city %>
  <%= f.text_field :city, class: 'form-control' %>
  <span class="glyphicon form-control-feedback"></span>
</div>

<div class="form-group has-feedback">
  <%= f.label :state %>
  <%= f.text_field :state, class: 'form-control' %>
  <span class="glyphicon form-control-feedback"></span>
</div>

<div class="form-group has-feedback">
  <%= f.label :postal_code %>
  <%= f.text_field :postal_code, class: 'form-control' %>
  <span class="glyphicon form-control-feedback"></span>
</div>

<div class="form-group">
  <%= f.label :country %>
  <%= select('institution', 'country', countries_for_select,
             { include_blank: false },
             { class: 'form-control' }) %>
</div>

