<% # Will be read by PSAP.updateResultsCount() in JS %>
<input type="hidden" name="results_count" value="<%= @institutions.total_entries %>">

<div class="text-center">
  <%= will_paginate @institutions, renderer: BootstrapPagination::Rails %>
</div>

<ul class="institutions psap-entity-list">
  <% @institutions.each do |institution| %>
      <li>
        <span class="title"><%= link_to institution.name, institution %></span>
        <small>
          <!-- TODO: add repository count icon -->
          <%= glyphicon(Resource, pluralize(institution.resources.count, 'resource')) %>
          <%= institution.resources.count %>
          <%= glyphicon(User, pluralize(institution.users.count, 'user')) %>
          <%= institution.users.count %>
        </small>
        <br>
        <span class="description"><%= institution.description %></span>
      </li>
  <% end %>
</ul>

<div class="text-center">
  <%= will_paginate @institutions, renderer: BootstrapPagination::Rails %>
</div>
