<% # Layout template used by the individual tabs on the show-institution page %>
<% provide(:title, @institution.name) %>
<% provide(:body_id, 'show_institution') %>

<%= hidden_field_tag(:root_url, root_url) %>
<%= hidden_field_tag(:institution_url, institution_url(@institution)) %>

<% breadcrumbs = []
   breadcrumbs << { 'Institutions' => institutions_path } if current_user.is_admin?
   breadcrumbs << @institution.name %>
<%= breadcrumbs(breadcrumbs) %>

<div class="btn-group pull-right">
  <!-- Edit -->
  <button type="button" class="btn btn-default" data-toggle="modal"
          data-target="#psap-edit-panel">
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  </button>
  <!-- Assess -->
  <button type="button" class="btn btn-default" data-toggle="modal"
          data-target="#psap-assess-panel">
    <span class="glyphicon glyphicon-stats"></span>
    Assess Institution
  </button>
  <!-- Delete -->
  <% if current_user.is_admin? %>
    <%= link_to institution_path(@institution), method: 'delete',
                class: 'btn btn-danger',
                disabled: @institution.users.any?,
                data: { confirm: 'Deleting this institution will '\
                'delete ALL of its repositories, locations, and '\
                'resources along with it. Are you sure you want '\
                'to do this?' } do %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-trash') %>
      Delete
    <% end %>
  <% end %>
</div>

<div class="psap-page-title">
  <h1><span id="institution_name"><%= @institution.name %></span>
    <small class="text-nowrap">
      <%= entity_icon(@institution) %>Institution
    </small>
  </h1>
  <% if @institution.description %>
    <p><%= @institution.description %></p>
  <% end %>
</div>

<div class="row">
  <div class="col-sm-4 psap-entity-nav-menu">
    <%= render partial: 'shared/entity_hierarchy',
               locals: { selected_entity: @institution } %>
  </div>
  <div class="col-sm-8">
    <ul class="nav nav-tabs">
      <li class="<%= action_name == 'show' ? 'active' : '' %>">
        <%= link_to 'Repositories', @institution %>
      </li>
      <li class="<%= action_name == 'resources' ? 'active' : '' %>">
        <%= link_to 'Resource Search', institution_resources_path(@institution) %>
      </li>
      <li class="<%= action_name == 'assessment_report' ? 'active' : '' %>">
        <%= link_to 'Assessment Report', institution_assessment_report_path(@institution) %>
      </li>
      <li class="<%= action_name == 'info' ? 'active' : '' %>">
        <%= link_to 'Info', institution_info_path(@institution) %>
      </li>
      <li class="<%= action_name == 'users' ? 'active' : '' %>">
        <%= link_to 'Users', institution_users_path(@institution) %>
      </li>
      <li class="<%= action_name == 'events' ? 'active' : '' %>">
        <%= link_to 'Activity', institution_events_path(@institution) %>
      </li>
    </ul>
    <div class="tab-content">
      <%= yield %>
    </div>
  </div>
</div>

<%= render partial: 'shared/edit_panel',
           locals: { action: :edit, entity_name: 'Institution' } %>

<%= render partial: 'shared/edit_panel',
           locals: { action: :assess, entity_name: 'Institution' } %>

<%= render partial: 'shared/edit_panel',
           locals: { action: :create, entity_name: 'Repository' } %>
