<% # Will be read by PSAP.updateResultsCount() in JS %>
<input type="hidden" name="results_count" value="<%= @repositories.total_entries %>">

<ul class="psap-entity-list">
  <% @repositories.each do |repository| %>
      <li>
        <span class="title">
          <%= entity_icon(repository) %>
          <%= link_to repository.name, repository %>
        </span>
        <small>
          <%= entity_icon(Location, pluralize(repository.locations.count, 'location')) %>
          <%= repository.locations.count %>

          <%= entity_icon(Resource, pluralize(repository.resources.count, 'resource')) %>
          <%= repository.resources.count %>
        </small>
      </li>
  <% end %>
</ul>

<div class="text-center">
  <%= will_paginate @repositories, renderer: BootstrapPagination::Rails %>
</div>
