<% # Will be read by PSAP.updateResultsCount() in JS %>
<input type="hidden" name="results_count" value="<%= @repositories.total_entries %>">

<ul class="psap-entity-list">
  <% @repositories.each do |repository| %>
      <li>
        <span class="title"><%= link_to repository.name, repository %></span>
        <small>
          <span title="<%= pluralize(repository.locations.count, 'location') %>"
                class="glyphicon glyphicon-home"
                aria-hidden="true"></span>
          <%= repository.locations.count %>

          <span title="<%= pluralize(repository.resources.count, 'resource') %>"
                class="glyphicon glyphicon-folder-open"
                aria-hidden="true"></span>
          <%= repository.resources.count %>
        </small>
      </li>
  <% end %>
</ul>

<div class="text-center">
  <%= will_paginate @repositories, renderer: BootstrapPagination::Rails %>
</div>
