<% # Layout template used by the individual tabs on the show-institution page %>
<% provide(:title, @institution.name) %>
<% provide(:body_id, 'show_institution') %>

<% breadcrumbs = []
   breadcrumbs << { 'Institutions' => institutions_path } if current_user.is_admin?
   breadcrumbs << @institution.name %>
<%= breadcrumbs(breadcrumbs) %>

<div class="row">
  <div class="col-sm-7">
    <h1><%= @institution.name %>
      <small><%= entity_icon(@institution) %>Institution</small>
    </h1>
  </div>
  <div class="col-sm-5">
    <div class="btn-group" style="float:right">
      <!-- Edit -->
      <%= link_to edit_institution_path(@institution),
                  class: 'btn btn-default' do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-pencil') %>
          Edit
      <% end %>
      <!-- Assess -->
      <%= link_to institution_assess_path(@institution),
                  class: 'btn btn-default' do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-stats') %>
        Assess
      <% end %>
      <!-- Export as CSV -->
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="glyphicon glyphicon-export"></span> Export
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to 'CSV', institution_path(@institution) + '.csv',
                          class: 'export',
                          data: { filename: "#{@institution.name.parameterize}.csv" } %></li>
        </ul>
      </div>
      <!-- Delete -->
      <% if current_user.is_admin? %>
        <%= link_to institution_path(@institution), method: 'delete',
                  class: 'btn btn-danger',
                  disabled: @institution.users.any?,
                  data: { confirm: 'Deleting this institution will '\
                      'delete ALL of its repositories, locations, and '\
                      'assessments along with it. Are you sure you want '\
                      'to do this?' } do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-trash') %>
          Delete
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<ul class="nav nav-tabs">
  <li class="<%= action_name == 'show' ? 'active' : '' %>">
    <%= link_to 'Repositories', @institution %>
  </li>
  <li class="<%= action_name == 'resources' ? 'active' : '' %>">
    <%= link_to 'Resources', institution_resources_path(@institution) %>
  </li>
  <li class="<%= action_name == 'assessment_report' ? 'active' : '' %>">
    <%= link_to 'Assessment Report', institution_assessment_report_path(@institution) %>
  </li>
  <li class="<%= action_name == 'info' ? 'active' : '' %>">
    <%= link_to 'Info', institution_info_path(@institution) %>
  </li>
  <li class="<%= action_name == 'users' ? 'active' : '' %>">
    <%= link_to 'Users', institution_users_path(@institution) %>
  </li>
  <li class="<%= action_name == 'events' ? 'active' : '' %>">
    <%= link_to 'Activity', institution_events_path(@institution) %>
  </li>
</ul>

<div class="tab-content">
  <%= yield %>
</div>
