<%= render layout: 'institutions/show' do %>
  <div class="row">
    <div class="col-sm-10">
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#preservation_infrastructure_tab" data-toggle="tab">Institutional Preservation Infrastructure</a></li>
        <li role="presentation"><a href="#storage_environments_tab" data-toggle="tab">Storage Environments</a></li>
        <li role="presentation"><a href="#resources_tab" data-toggle="tab">Resources</a></li>
        <li role="presentation"><a href="#collections_tab" data-toggle="tab">Collections</a></li>
      </ul>
    </div>

    <div class="col-sm-2">
      <div class="btn-group" style="float:right">
        <%= button_link('PDF',
                        institution_assessment_report_path(@institution) + '.pdf',
                        'fa-file-pdf-o', { target: '_blank' }) %>
      </div>
    </div>
  </div>

  <div class="tab-content">
    <div class="tab-pane active" id="preservation_infrastructure_tab">
      <h2>Institutional Preservation Infrastructure</h2>
      <% if @institution.assessment_question_responses.any? %>
        <%= render partial: 'assessable_section_scores',
                   locals: { assessable: @institution, show_title: false } %>
      <% else %>
        <p>This institution has not been assessed yet.</p>
      <% end %>
    </div>

    <div class="tab-pane" id="storage_environments_tab">
      <h2>Storage Environments</h2>
      <% if @institution.locations.any? %>
        <table class="table">
          <thead>
            <tr>
              <th>Location</th>
              <% @location_assessment_sections.each do |section| %>
                <th><%= section.name %></th>
              <% end %>
              <th>Overall</th>
            </tr>
          </thead>
          <tbody>
            <% @institution.locations.order(:name).each do |location| %>
              <% if location.assessment_question_responses.any? %>
                <tr>
                  <td>
                    <%= entity_icon(location) %>
                    <%= link_to(location.name, location, target: '_blank') %>
                  </td>
                  <% location.assessment_section_scores.each do |section_id, score| %>
                    <td class="<%= bootstrap_bg_class_for_score(score) %>">
                      <%= (score * 100).round %>
                    </td>
                  <% end %>
                  <td class="<%= bootstrap_bg_class_for_score(location.assessment_score) %>">
                    <%= (location.assessment_score * 100).round %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>This institution has no locations.</p>
      <% end %>
    </div>

    <div class="tab-pane" id="resources_tab">
      <h2>Resources</h2>
      <%= render partial: 'resource_report',
                 locals: { institution: @institution, stats: @stats,
                           all_assessed_items: @institution.all_assessed_items,
                           institution_formats: @institution_formats } %>
    </div>

    <div class="tab-pane" id="collections_tab">
      <h2>Collections</h2>
      <% if @collections.any? %>
        <% @collections.each do |resource| %>
          <%= render partial: 'collection_report',
                     locals: { resource: resource } %>
        <% end %>
      <% else %>
        <p>This institution has no collections.</p>
      <% end %>
    </div>
  </div>

<% end %>
