<% provide(:title, "Assess #{@institution.name}") %>
<% provide(:body_id, 'edit_institution') %>

<input type="hidden" name="root-url" value="<%= root_url %>">

<ol class="breadcrumb">
  <% if current_user.is_admin? %>
      <li><%= link_to 'Institutions', institutions_path %></li>
  <% end %>
  <li><%= link_to @institution.name, @institution %></li>
  <li class="active">Assess</li>
</ol>

<div class="row">
  <div class="col-sm-10">
    <h1>Assess <%= @institution.name %></h1>
  </div>
  <div class="col-sm-2">
    <div class="btn-group" style="float:right">
      <!-- Save -->
      <button type="button" class="btn btn-default save">
        <span class="glyphicon glyphicon-cloud"></span> Save
      </button>
    </div>
  </div>
</div>

<div class="row" >

  <!-- left column menu -->
  <div class="col-sm-3">
    <%= render partial: 'shared/assessment_sections',
               locals: { assessment_sections: @assessment_sections } %>
  </div>

  <div class="col-sm-9">
    <%= form_for(@institution, html: { class: 'psap-assessment' }) do |f| %>
        <% @institution.assessment_question_responses.each do |response| %>
            <input type="hidden" name="selected_option_ids"
                   value="<%= response.assessment_question_option.id %>">
        <% end %>

        <% @assessment_sections.each_with_index do |section, index| %>
            <%= render partial: 'shared/section_form',
                       locals: { section: section,
                                 draw_bottom_rule: index < @assessment_sections.length - 1 } %>
        <% end %>
    <% end %>
  </div>

</div>
