<% provide(:title, "Edit #{@institution.name}") %>

<ol class="breadcrumb">
  <% if current_user.is_admin? %>
      <li><%= link_to 'Institutions', institutions_path %></li>
  <% end %>
  <li><%= link_to @institution.name, @institution %></li>
  <li class="active">Edit</li>
</ol>

<h1>Edit <%= @institution.name %></h1>

<div class="row" id="institution">

  <!-- left column menu -->
  <div class="col-md-3">
    <nav>
      <ul class="nav nav-pills nav-stacked">
        <li class="active">
          <a href="#general" data-toggle="pill">General</a>
        </li>
        <li>
          <a href="#preservation_planning" data-toggle="pill">Preservation Planning</a>
        </li>
        <li>
          <a href="#use_access" data-toggle="pill">Use/Access</a>
        </li>
        <li>
          <a href="#material_inspection" data-toggle="pill">Material Inspection</a>
        </li>
        <li>
          <a href="#playback_equipment" data-toggle="pill">Playback Equipment</a>
        </li>
        <li>
          <a href="#disaster_recovery" data-toggle="pill">Disaster Recovery</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="col-md-9 tab-content">

    <div id="general" class="tab-pane active">
      <h2>General</h2>

      <%= form_for(@institution) do |f| %>
          <%= render 'shared/error_messages', :object => f.object %>

          <div class="form-group has-feedback">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
            <span class="glyphicon form-control-feedback"></span>
          </div>

          <div class="form-group has-feedback">
            <%= f.label :description %>
            <%= f.text_area :description, class: 'form-control' %>
            <span class="glyphicon form-control-feedback"></span>
          </div>

          <div class="form-group has-feedback">
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>
            <span class="glyphicon form-control-feedback"></span>
          </div>

          <div class="form-group has-feedback">
            <%= f.label :url, 'URL' %>
            <%= f.url_field :url, class: 'form-control' %>
            <span class="glyphicon form-control-feedback"></span>
          </div>

          <div class="form-group has-feedback">
            <%= f.label :address1, 'Address 1' %>
            <%= f.text_field :address1, class: 'form-control' %>
            <span class="glyphicon form-control-feedback"></span>
          </div>

          <div class="form-group has-feedback">
            <%= f.label :address2, 'Address 2' %>
            <%= f.text_field :address2, class: 'form-control' %>
            <span class="glyphicon form-control-feedback"></span>
          </div>

          <div class="form-group has-feedback">
            <%= f.label :city %>
            <%= f.text_field :city, class: 'form-control' %>
            <span class="glyphicon form-control-feedback"></span>
          </div>

          <div class="form-group has-feedback">
            <%= f.label :state %>
            <%= f.text_field :state, class: 'form-control' %>
            <span class="glyphicon form-control-feedback"></span>
          </div>

          <div class="form-group has-feedback">
            <%= f.label :postal_code %>
            <%= f.text_field :postal_code, class: 'form-control' %>
            <span class="glyphicon form-control-feedback"></span>
          </div>

          <div class="form-group">
            <%= f.label :country %>
            <%= select('institution', 'country', countries_for_select,
                       { include_blank: false },
                       { class: 'form-control' }) %>
          </div>

          <div class="form-group">
            <%= f.label :language %>
            <%= f.collection_select :language_id, Language.all, :id, :english_name,
                                    { include_blank: true },
                                    { class: 'form-control' } %>
          </div>
          <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
      <% end %>

    </div>

    <div id="preservation_planning" class="tab-pane">
      <h2>Preservation Planning</h2>

      <%= form_for(@institution) do |f| %>
          <%= render 'shared/error_messages', :object => f.object %>

          <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
      <% end %>
    </div>

    <div id="use_access" class="tab-pane">
      <h2>Use/Access</h2>

      <%= form_for(@institution) do |f| %>
          <%= render 'shared/error_messages', :object => f.object %>

          <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
      <% end %>
    </div>

    <div id="material_inspection" class="tab-pane">
      <h2>Material Inspection</h2>

      <%= form_for(@institution) do |f| %>
          <%= render 'shared/error_messages', :object => f.object %>

          <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
      <% end %>
    </div>

    <div id="playback_equipment" class="tab-pane">
      <h2>Playback Equipment</h2>

      <%= form_for(@institution) do |f| %>
          <%= render 'shared/error_messages', :object => f.object %>

          <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
      <% end %>
    </div>

    <div id="disaster_recovery" class="tab-pane">
      <h2>Disaster Recovery</h2>

      <%= form_for(@institution) do |f| %>
          <%= render 'shared/error_messages', :object => f.object %>

          <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
      <% end %>
    </div>

  </div>
</div> <!-- .row #institution -->
