<% provide(:title, "Edit #{@institution.name}") %>

<h1>Edit <%= @institution.name %></h1>


<%= form_for(@institution) do |f| %>
    <%= render 'shared/error_messages' %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
<% end %>
