<% provide(:title, "Edit #{@institution.name}") %>
<% provide(:body_id, 'edit_institution') %>

<input type="hidden" name="root-url" value="<%= root_url %>">

<ol class="breadcrumb">
  <% if current_user.is_admin? %>
      <li><%= link_to 'Institutions', institutions_path %></li>
  <% end %>
  <li><%= link_to @institution.name, @institution %></li>
  <li class="active">Edit</li>
</ol>

<h1>Edit Institution: <%= @institution.name %></h1>

<%= form_for(@institution, html: { class: 'psap-assessment' }) do |f| %>
  <%= render partial: 'basic_info_form', locals: { f: f } %>
  <%= f.submit 'Edit Institution', class: 'btn btn-primary' %>
<% end %>
