<% provide(:title, 'Institutions') %>
<% provide(:body_id, 'institutions') %>

<%= hidden_field_tag(:new_institution_url, new_institution_url) %>

<%= breadcrumbs('Institutions') %>

<div class="pull-right">
  <%= entity_button(Institution, 'Add Institution',
                    { class: 'btn-success',
                      'data-toggle' => 'modal',
                      'data-target' => '#psap-create-panel' }) %>
</div>

<div class="psap-page-title">
  <h1>Institutions <small class="entity_count">
    <%= @institutions.total_entries %> total</small></h1>
</div>

<div class="row">
  <div class="col-sm-4 psap-entity-nav-menu">
    <%= render partial: 'shared/entity_hierarchy',
               locals: { selected_entity: @institutions.first }%>
  </div>
  <div class="col-sm-8" id="psap-institutions-page-content">
    <%= render 'institutions' %>
  </div>
</div>

<%= render partial: 'shared/edit_panel',
           locals: { action: :create, entity_name: 'Institution' } %>
