<% provide(:title, 'Institutions') %>

<ol class="breadcrumb">
  <% if current_user.is_admin? %>
      <li class="active">Institutions</li>
  <% end %>
</ol>

<div class="row">
  <div class="col-sm-7">
    <h1>Institutions <small class="entity_count">
      <%= @institutions.total_entries %> total</small></h1>
  </div>
  <div class="col-sm-5" style="text-align:right">
    <div class="btn-group">
      <%= link_to new_institution_path, class: 'btn btn-default' do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
          Add Institution
      <% end %>
    </div>
  </div>
</div>

<div class="text-center">
    <%= will_paginate @institutions, renderer: BootstrapPagination::Rails %>
</div>

<table class="institutions table table-striped">
  <thead>
  <tr>
    <th></th>
    <th></th>
    <th>Repositories</th>
    <th>Users</th>
  </tr>
  </thead>
  <tbody>
    <% @institutions.each do |institution| %>
      <tr>
        <td><%= link_to 'Edit', edit_institution_path(institution) %></td>
        <td><%= link_to institution.name, institution %></td>
        <td class="center"><%= institution.repositories.count %></td>
        <td class="center"><%= institution.users.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
    <%= will_paginate @institutions, renderer: BootstrapPagination::Rails %>
</div>
