<% provide(:title, 'Institutions') %>

<ol class="breadcrumb">
  <% if current_user.is_admin? %>
      <li class="active">Institutions</li>
  <% end %>
</ol>

<h1>Institutions</h1>

<%= will_paginate @institutions, renderer: BootstrapPagination::Rails %>

<table class="institutions table table-striped table-hover">
  <thead>
  <tr>
    <th></th>
    <th></th>
    <th>Repositories</th>
    <th>Users</th>
  </tr>
  </thead>
  <tbody>
    <% @institutions.each do |institution| %>
      <tr>
        <td><%= link_to 'Edit', edit_institution_path(institution) %></td>
        <td><%= link_to institution.name, institution %></td>
        <td class="center"><%= institution.repositories.count %></td>
        <td class="center"><%= institution.users.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @institutions, renderer: BootstrapPagination::Rails %>
