<% provide(:title, 'New Institution') %>
<% provide(:body_id, 'new_institution') %>

<ol class="breadcrumb">
  <% if current_user.is_admin? %>
      <li><%= link_to 'Institutions', institutions_path %></li>
  <% end %>
  <li class="active">New</li>
</ol>

<h1>New Institution</h1>

<%= form_for(@institution) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>

    <div class="form-group has-feedback">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <span class="glyphicon form-control-feedback"></span>
    </div>

    <div class="form-group has-feedback">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
      <span class="glyphicon form-control-feedback"></span>
    </div>

    <div class="form-group has-feedback">
      <%= f.label :url, 'URL' %>
      <%= f.url_field :url, class: 'form-control' %>
      <span class="glyphicon form-control-feedback"></span>
    </div>

    <div class="form-group has-feedback">
      <%= f.label :address1, 'Address 1' %>
      <%= f.text_field :address1, class: 'form-control' %>
      <span class="glyphicon form-control-feedback"></span>
    </div>

    <div class="form-group has-feedback">
      <%= f.label :address2, 'Address 2' %>
      <%= f.text_field :address2, class: 'form-control' %>
      <span class="glyphicon form-control-feedback"></span>
    </div>

    <div class="form-group has-feedback">
      <%= f.label :city %>
      <%= f.text_field :city, class: 'form-control' %>
      <span class="glyphicon form-control-feedback"></span>
    </div>

    <div class="form-group has-feedback">
      <%= f.label :state %>
      <%= f.text_field :state, class: 'form-control' %>
      <span class="glyphicon form-control-feedback"></span>
    </div>

    <div class="form-group has-feedback">
      <%= f.label :postal_code %>
      <%= f.text_field :postal_code, class: 'form-control' %>
      <span class="glyphicon form-control-feedback"></span>
    </div>

    <div class="form-group">
      <%= f.label :country %>
      <%= select('institution', 'country', countries_for_select,
                 { include_blank: false },
                 { class: 'form-control' }) %>
    </div>

    <div class="form-group">
      <%= f.label :language %>
      <%= f.collection_select :language_id, Language.all, :id, :english_name,
                              { include_blank: true },
                              { class: 'form-control' } %>
    </div>

    <%= f.submit 'Create and Join Institution', class: 'btn btn-primary' %>
<% end %>
