<% provide(:title, 'New Institution') %>
<% provide(:body_id, 'new_institution') %>

<input type="hidden" name="root-url" value="<%= root_url %>">

<ol class="breadcrumb">
  <% if current_user.is_admin? %>
    <li><%= link_to 'Institutions', institutions_path %></li>
  <% end %>
  <li class="active">New Institution</li>
</ol>

<div class="psap-page-title">
  <h1>New Institution</h1>
</div>

<%= form_for(@institution, class: 'psap-assessment') do |f| %>
  <%= render partial: 'basic_info_form', locals: { f: f } %>
  <%= f.submit 'Create and Join Institution', class: 'btn btn-primary' %>
<% end %>
