<% provide(:title, 'New Institution') %>
<% provide(:body_id, 'new_institution') %>

<input type="hidden" name="root-url" value="<%= root_url %>">

<ol class="breadcrumb">
  <% if current_user.is_admin? %>
      <li><%= link_to 'Institutions', institutions_path %></li>
  <% end %>
  <li class="active">New Institution</li>
</ol>

<div class="row">
  <div class="col-sm-7">
    <h1>New Institution</h1>
  </div>
  <div class="col-sm-5">
    <div class="btn-group" style="float:right">
      <!-- Save -->
      <button type="button" class="btn btn-default save">
        <span class="glyphicon glyphicon-cloud"></span> Save
      </button>
    </div>
  </div>
</div>

<div class="row" id="assessment">

  <!-- left column menu -->
  <div class="col-sm-3">
    <%= render partial: 'shared/assessment_sections',
               locals: { assessment_sections: @assessment_sections } %>
  </div>

  <div class="col-sm-9">
    <%= form_for(@institution, class: 'psap-assessment',
                 url: repository_locations_path(@institution.repository)) do |f| %>

      <div id="basic_info" class="section">
        <%= render partial: 'basic_info_form', locals: { f: f } %>
      </div>

      <% @assessment_sections.each do |section| %>
        <%= render partial: 'shared/section_form', locals: { section: section } %>
      <% end %>

    <% end %>
  </div>
</div>
