<% provide(:title, @institution.name) %>

<ol class="breadcrumb">
  <% if current_user.is_admin? %>
      <li><%= link_to 'Institutions', institutions_path %></li>
  <% end %>
  <li class="active"><%= @institution.name %></li>
</ol>

<div class="row">
  <div class="col-md-8">
    <h1><%= @institution.name %></h1>
  </div>
  <div class="col-md-4" style="text-align:right">
    <div class="btn-group">
      <%= link_to edit_institution_path(@institution), class: 'btn btn-default btn-default' do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-pencil') %>
          Edit
      <% end %>
      <%= link_to new_institution_repository_path(@institution), class: 'btn btn-default' do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
          Add Repository
      <% end %>
    </div>
  </div>
</div>

<ul class="nav nav-tabs">
  <li class="active">
    <a href="#repositories" data-toggle="tab">Repositories</a>
  </li>
  <li>
    <a href="#assessments" data-toggle="tab">Assessments</a>
  </li>
</ul>

<div class="tab-content">

  <div class="tab-pane active" id="repositories">
    <% if @institution.repositories.any? %>
        <table class="table table-striped table-hover">
          <thead>
          <th></th>
          <th></th>
          <th></th>
          </thead>
          <tbody>
          <% @institution.repositories.order(:name).each do |repository| %>
              <tr>
                <td>
                  <% if current_user.has_permission?('repositories.edit_own') %>
                      <%= link_to 'Edit', edit_repository_path(repository) %>
                  <% end %>
                </td>
                <td>
                  <% if current_user.has_permission?('repositories.delete_own') %>
                      <%= link_to 'Delete', repository, method: :delete,
                                  data: { confirm: 'Are you sure?' } %>
                  <% end %>
                </td>
                <td><%= link_to repository.name, repository %></td>
              </tr>
          <% end %>
          </tbody>
        </table>

    <% else %>
        <p>This institution has no repositories.</p>
    <% end %>
  </div>

  <div class="tab-pane" id="assessments">
    <% if @institution.assessments.any? %>
        <table class="table table-striped table-hover">
          <thead>
          <th></th>
          <th></th>
          <th></th>
          </thead>
          <tbody>
          <% @institution.assessments.each do |assessment| %>
              <tr>
                <td>
                  <%= link_to 'Edit', edit_assessment_path(assessment) %>
                </td>
                <td>
                  <%= link_to 'Delete', assessment, method: :delete,
                              data: { confirm: 'Are you sure?' } %>
                </td>
                <td><%= link_to assessment.name, assessment %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% else %>
        <p>This institution has not completed any assessments.</p>
    <% end %>
  </div>
</div>
