<% provide(:title, @institution.name) %>
<% provide(:body_id, 'show_institution') %>

<% breadcrumbs = []
   breadcrumbs << { 'Institutions' => institutions_path } if current_user.is_admin?
   breadcrumbs << @institution.name %>
<%= breadcrumbs(breadcrumbs) %>

<div class="row">
  <div class="col-sm-8">
    <h1><%= @institution.name %>
      <small><%= entity_icon(@institution) %>Institution</small>
    </h1>
  </div>
  <div class="col-sm-4">
    <div class="btn-group" style="float:right">
      <!-- Assess -->
      <%= link_to edit_institution_path(@institution),
                  class: 'btn btn-default' do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-pencil') %>
        Assess
      <% end %>
      <!-- Export as CSV -->
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="glyphicon glyphicon-export"></span> Export
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to 'CSV', institution_path(@institution) + '.csv',
                          class: 'export',
                          data: { filename: "#{@institution.name.parameterize}.csv" } %></li>
        </ul>
      </div>
      <!-- Delete -->
      <% if current_user.is_admin? %>
        <%= link_to institution_path(@institution), method: 'delete',
                  class: 'btn btn-danger',
                  disabled: @institution.users.any?,
                  data: { confirm: 'Deleting this institution will '\
                      'delete ALL of its repositories, locations, and '\
                      'assessments along with it. Are you sure you want '\
                      'to do this?' } do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-trash') %>
          Delete
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-sm-3">
    <dl>
      <dt>URL</dt>
      <dd><%= link_to @institution.url, @institution.url, target: '_blank' %></dd>
      <dt>Email</dt>
      <dd><a href="mailto:<%= @institution.email %>"><%= @institution.email %></a></dd>
      <dt>Address</dt>
      <dd>
        <%= @institution.address1 %>
        <% if @institution.address2 and !@institution.address2.empty? %>
            <br><%= @institution.address2 %>
        <% end %>
        <br><%= @institution.city %>, <%= @institution.state %> <%= @institution.postal_code %>
        <br><%= @institution.country %>
      </dd>
      <% if @institution.description %>
          <dt>Description</dt>
          <dd><%= @institution.description %></dd>
      <% end %>
      <% if @institution.language %>
          <dt>Language</dt>
          <dd><%= @institution.language.english_name %></dd>
      <% end %>
      <dt>Created</dt>
      <dd><%= local_time_ago(@institution.created_at) %></dd>
      <dt>Last Updated</dt>
      <dd><%= local_time_ago(@institution.updated_at) %></dd>
    </dl>
  </div>

  <div class="col-sm-9">

    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#repositories_tab" data-toggle="tab">Repositories</a>
      </li>
      <li>
        <a href="#resources_tab" data-toggle="tab">Resources</a>
      </li>
      <li>
        <a href="#users_tab" data-toggle="tab">Users</a>
      </li>
      <li>
        <a href="#assessment_report_tab" data-toggle="tab">Assessment Report</a>
      </li>
      <li>
        <a href="#activity_tab" data-toggle="tab">Activity</a>
      </li>
    </ul>

    <div class="tab-content">

      <div class="tab-pane active" id="repositories_tab">
        <!-- Add Repository button -->
        <div style="text-align:right">
          <%= link_to new_institution_repository_path(@institution),
                      class: 'btn btn-success' do %>
              <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
              Add Repository
          <% end %>
        </div>

        <% if @repositories.any? %>
          <div id="repositories">
            <%= render 'repositories' %>
          </div>
        <% else %>
          <p>This institution has no repositories.</p>
        <% end %>
      </div>

      <div class="tab-pane" id="resources_tab">
        <% if @resources.any? %>
          <div id="assessments">
          <%= render partial: 'resources/resources',
                     locals: { resources: @resources, show_checkboxes: false } %>
          </div>
        <% else %>
          <p>There are no resources at this institution.</p>
        <% end %>
      </div>

      <div class="tab-pane" id="users_tab">
        <% if @institution.users.any? %>
          <ul class="users">
            <% @institution_users.each do |user| %>
              <li>
                <%= link_to user do %>
                  <%= gravatar_for user, size: 52 %>
                <% end %>
                <%= link_to user.full_name, user %>
                <small><%= user.username %></small>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p>There are no users affiliated with this institution.</p>
        <% end %>
      </div>

      <div class="tab-pane" id="assessment_report_tab">
        <%= render partial: 'assessment_report', locals: { institution: @institution } %>
      </div>

      <div id="activity_tab" class="tab-pane">
        <%= render 'shared/events', events: @events %>
      </div>

    </div> <!-- .tab-content -->

  </div> <!-- .col-sm-8 -->

</div> <!-- .row -->
