<% provide(:title, @institution.name) %>

<ol class="breadcrumb">
  <% if current_user.is_admin? %>
      <li><%= link_to 'Institutions', institutions_path %></li>
  <% end %>
  <li class="active"><%= @institution.name %></li>
</ol>

<div class="row">
  <div class="col-md-8">
    <h1><%= @institution.name %></h1>
  </div>
  <div class="col-md-4" style="text-align:right">
    <div class="btn-group">
      <!-- Edit -->
      <% if current_user.is_admin? %>
          <%= link_to edit_institution_path(@institution),
                      class: 'btn btn-default' do %>
              <%= content_tag(:span, '', class: 'glyphicon glyphicon-pencil') %>
              Edit
          <% end %>
      <% end %>
      <!-- Add Repository -->
      <%= link_to new_institution_repository_path(@institution),
                  class: 'btn btn-default' do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
          Add Repository
      <% end %>
      <!-- Delete -->
      <% if current_user.is_admin? %>
          <%= link_to institution_path(@institution), method: 'delete',
                      class: 'btn btn-default',
                      data: { confirm: 'Deleting this institution will '\
                          'delete ALL of its repositories, locations, and '\
                          'assessments along with it. Are you sure you want '\
                          'to do this?' } do %>
              <%= content_tag(:span, '', class: 'glyphicon glyphicon-trash') %>
              Delete
          <% end %>
      <% end %>
    </div>
  </div>
</div>

<ul class="nav nav-tabs">
  <li class="active">
    <a href="#info" data-toggle="tab">Info</a>
  </li>
  <li>
    <a href="#users" data-toggle="tab">Users</a>
  </li>
  <li>
    <a href="#repositories" data-toggle="tab">Repositories</a>
  </li>
  <li>
    <a href="#assessments" data-toggle="tab">Resource Assessments</a>
  </li>
  <li>
    <a href="#assessment_report" data-toggle="tab">Assessment Report</a>
  </li>
</ul>

<div class="tab-content">

  <div id="info" class="tab-pane active">
    <dl>
      <dt>Address</dt>
      <dd>
          <%= @institution.address1 %>
          <% if @institution.address2 %>
              <br><%= @institution.address2 %>
          <% end %>
          <br><%= @institution.city %>, <%= @institution.state %> <%= @institution.postal_code %>
          <br><%= @institution.country %>
      </dd>
      <dt>Created</dt>
      <dd><%= local_time_ago(@institution.created_at) %></dd>
    </dl>
  </div>

  <div class="tab-pane" id="repositories">
    <% if @institution.repositories.any? %>
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Name</th>
          </tr>
          </thead>
          <tbody>
          <!-- Edit -->
          <% @institution.repositories.order(:name).each do |repository| %>
              <tr>
                <td>
                  <%= link_to 'Edit', edit_repository_path(repository) %>
                </td>
                <td>
                  <%= link_to 'Delete', repository, method: :delete,
                              data: { confirm: 'Are you sure?' } %>
                </td>
                <td><%= link_to repository.name, repository %></td>
              </tr>
          <% end %>
          </tbody>
        </table>

    <% else %>
        <p>This institution has no repositories.</p>
    <% end %>
  </div>

  <div class="tab-pane" id="assessments">
    <% if @institution.resources.any? %>
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Title</th>
            <th>Type</th>
          </tr>
          </thead>
          <tbody>
          <% @institution.resources.order(:name).each do |resource| %>
              <tr>
                <td>
                  <%= link_to 'Edit', edit_resource_path(resource) %>
                </td>
                <td>
                  <%= link_to 'Delete', resource, method: :delete,
                              data: { confirm: 'Are you sure?' } %>
                </td>
                <td><%= link_to resource.name, resource %></td>
                <td><%= resource.readable_resource_type %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% else %>
        <p>There are no completed assessments at this institution.</p>
    <% end %>
  </div>

  <div class="tab-pane" id="users">
    <% if @institution.users.any? %>
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th></th>
            <th>Username</th>
            <th>Name</th>
            <th>Enabled</th>
          </tr>
          </thead>
          <tbody>
          <% @institution_users.each do |user| %>
              <tr>
                <td>
                  <%= link_to user do %>
                      <%= gravatar_for user, size: 52 %>
                  <% end %>
                </td>
                <td><%= link_to user.username, user %></td>
                <td><%= link_to user.full_name, user %></td>
                <td><%= user.enabled ? 'Yes' : 'No' %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% else %>
        <p>There are no users affiliated with this institution.</p>
    <% end %>
  </div>

  <div class="tab-pane" id="assessment_report">

    <!-- Export button -->
    <div class="btn-group" style="float:right">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-save"></span> Export
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to 'Text (CSV)', institution_report_path(@institution) + '.csv',
                        target: '_blank' %></li>
        <li><%= link_to 'PDF', institution_report_path(@institution) + '.pdf',
                        target: '_blank' %></li>
      </ul>
    </div>

    <p>(This is a mockup. It does not contain any dynamic content yet.)</p>

    <section>
      <h2>Institutional Preservation Infrastructure</h2>
      <h4>Score: 68</h4>
      <table cellspacing="0" cellpadding="0" border="0" class="table">
        <tr>
          <td class="bg-warning">Moderate</td>
          <td>Policies and Procedures: 75</td>
        </tr>
        <tr>
          <td class="bg-success">High</td>
          <td>Use and Loans: 80</td>
        </tr>
        <tr>
          <td class="bg-danger">Low</td>
          <td>Disaster Planning: 50</td>
        </tr>
      </table>
    </section>

    <section>
      <h2>Storage Environments Overview</h2>

      <h3>Annex</h3>
      <h4>Score: 59</h4>
      <table cellspacing="0" cellpadding="0" border="0" class="table">
        <tr>
          <td class="bg-warning">Moderate</td>
          <td>Temperature: 70</td>
        </tr>
        <tr>
          <td class="bg-warning">Moderate</td>
          <td>Relative Humidity: 65</td>
        </tr>
        <tr>
          <td class="bg-danger">Low</td>
          <td>Fire and Water Detection and Fire Suppression: 50</td>
        </tr>
        <tr>
          <td class="bg-danger">Low</td>
          <td>Security: 50</td>
        </tr>
      </table>

      <h3>Basement</h3>
      <h4>Score: 51</h4>
      <table cellspacing="0" cellpadding="0" border="0" class="table">
        <tr>
          <td class="bg-success">High</td>
          <td>Temperature: 80</td>
        </tr>
        <tr>
          <td class="bg-danger">Low</td>
          <td>Relative Humidity: 50</td>
        </tr>
        <tr>
          <td class="bg-warning">Moderate</td>
          <td>Fire and Water Detection and Fire Suppression: 75</td>
        </tr>
        <tr>
          <td class="bg-danger">Low</td>
          <td>Security: 0</td>
        </tr>
      </table>
    </section>

    <section id="material_condition_overview">
      <h2>Material Condition Overview (Collections View)</h2>

      <h3>Mandeville Collection (15/31/26)</h3>

      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-6 col-md-4">
            <ul>
              <li>&check; Item level&nbsp;&nbsp;&#9744; Sample</li>
              <li>68 items assessed</li>
              <li>Assessed by: RNE</li>
              <li>Assessed on: 2/21/14</li>
              <li>Formats present:
                <ul>
                  <li>Photographs</li>
                  <li>Books</li>
                  <li>Papers</li>
                </ul>
              </li>
            </ul>

            <table cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td>7.0</td>
                <td>Average/Mean</td>
              </tr>
              <tr>
                <td>5.8</td>
                <td>Median</td>
              </tr>
              <tr>
                <td>4.1</td>
                <td>Low</td>
              </tr>
              <tr>
                <td>9.3</td>
                <td>High</td>
              </tr>
            </table>
          </div>
          <div class="col-xs-12 col-md-8">
            <img src="" height="200" width="200" alt="">
          </div>
        </div>
      </div>

      <h3>Albertson, Samuel Collection (65/14/32)</h3>

      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-6 col-md-4">
            <ul>
              <li>&check; Item level&nbsp;&nbsp;&#9744; Sample</li>
              <li>115 items assessed</li>
              <li>Assessed by: JHT</li>
              <li>Assessed on: 2/17/14</li>
              <li>Formats present:
                <ul>
                  <li>Papers</li>
                  <li>Books</li>
                  <li>Office reprographics</li>
                  <li>Photomechanical prints</li>
                </ul>
              </li>
            </ul>

            <table cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td>5.5</td>
                <td>Average/Mean</td>
              </tr>
              <tr>
                <td>5.7</td>
                <td>Median</td>
              </tr>
              <tr>
                <td>1.0</td>
                <td>Low</td>
              </tr>
              <tr>
                <td>9.6</td>
                <td>High</td>
              </tr>
            </table>
          </div>
          <div class="col-xs-12 col-md-8">
            <img src="" height="200" width="200" alt="">
          </div>
        </div>
      </div>

    </section>
  </div>

</div>
