<%= render layout: 'institutions/show' do %>
  <% if @institution.users.any? %>
    <ul class="psap-user-list">
      <% @institution_users.each do |user| %>
        <li>
          <%= link_to user do %>
            <%= gravatar_for user, size: 52 %>
          <% end %>
          <%= link_to user.full_name, user %>
            <small><%= user.username %></small>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no users affiliated with this institution.</p>
  <% end %>
<% end %>
