<% # the "unaffiliated dashboard" for users who are not yet affiliated with
   # an institution. %>
<% provide(:title, 'Dashboard') %>
<% provide(:body_id, 'dashboard_welcome') %>

<%= hidden_field_tag(:new_institution_url, new_institution_url) %>

<div class="modal fade" id="psap-welcome-panel" tabindex="-1"
     role="dialog" aria-hidden="true" data-keyboard="false"
     data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">
          Welcome to the PSAP, <%= @user.first_name %>!
        </h2>
      </div>
      <div class="modal-body">
        <p>This is your dashboard. You'll arrive here every time you sign in.
            You can always return by choosing &quot;Dashboard&quot; from the
            top menu.</p>
        <p>Before you can perform any assessments, you'll need to associate
            your account with an institution. You'll find a link to begin this
            process on your dashboard.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                data-dismiss="modal">Got It</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="psap-pre-survey-panel" tabindex="-1"
     role="dialog" aria-hidden="true" data-keyboard="false"
     data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">
          Sorry to bother you again, but&hellip;
        </h2>
      </div>
      <div class="modal-body">
        <p>Please take our pre-use survey. There are only four questions, and
          it will help us... [insert more here]</p>
        <p>The button below will open the survey in a new window.</p>
        <div class="text-center">
          <%= link_to('Take the Survey',
                      'https://uiuc.qualtrics.com/SE/?SID=SV_6lrKdPbrcXBVfH7',
                      class: 'btn btn-success btn-lg',
                      target: '_blank') %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"
                data-dismiss="modal">No Thanks</button>
        <button type="button" class="btn btn-primary"
                data-dismiss="modal">I'm Awesome</button>
      </div>
    </div>
  </div>
</div>

<% if current_user.desired_institution %>
  <p>An administrator is reviewing your request to join
    <%= current_user.desired_institution.name %>. When approved, you will
    be notified by email.</p>
<% else %>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div id="associate" class="panel panel-default dashboard">
        <div class="panel-heading">
          <h3 class="panel-title">Associate with an institution</h3>
        </div>
        <div class="panel-body institution_association">
          <% if @institutions.any? %>
            <p>To unlock all of the PSAP's functionality, you will need to
                associate your account with an institution.</p>
            <%= form_for(@user) do |f| %>
              <%= f.collection_select :institution_id,
                                      @institutions, :id, :name,
                                      { include_blank: false },
                                      { class: 'form-control' } %>
              <%= f.submit 'My institution is selected above',
                           class: 'btn btn-primary btn-block' %>
              <button type="button" class="btn btn-primary btn-block"
                      data-toggle="modal" data-target="#psap-create-panel">
                My institution is not listed
              </button>
            <% end %>
          <% else %>
            <p>To unlock all of PSAP's functionality, you will need to
                associate your account with an institution.</p>
            <%= link_to 'Get Started', new_institution_path,
                        class: 'btn btn-primary btn-block' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'shared/edit_panel',
           locals: { action: :create, entity_name: 'Institution' } %>
