<% provide(:title, 'Sign in') %>
<h1>Sign in</h1>

<%= form_for(:session, url: sessions_path, html: { class: 'form-horizontal' }) do |f| %>

  <div class="control-group">
    <%= f.label :email, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :email %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password, class: 'control-label' %>
    <div class="controls">
      <%= f.password_field :password %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit 'Sign in', class: 'btn' %>
    </div>
  </div>

<% end %>

<p>New user? <%= link_to 'Sign up now.', new_user_path %></p>
