<% # Will be read by PSAP.updateResultsCount() in JS %>
<input type="hidden" name="results_count" value="<%= @locations.total_entries %>">

<ul class="psap-entity-list">
  <% @locations.each do |location| %>
    <li>
      <span class="title"><%= link_to location.name, location %></span>
      <small>
        <span title="<%= pluralize(location.resources.count, 'resource') %>"
              class="glyphicon glyphicon-folder-open"
              aria-hidden="true"></span>
        <%= location.resources.count %>
      </small>
      <br>
      <span class="description"><%= location.description %></span>
    </li>
  <% end %>
</ul>

<div class="text-center">
  <%= will_paginate @locations, renderer: BootstrapPagination::Rails %>
</div>
