<% provide(:title, @repository.name) %>

<ol class="breadcrumb">
  <% if current_user.is_admin? %>
      <li><%= link_to 'Institutions', institutions_path %></li>
  <% end %>
  <li>
    <%= link_to @repository.institution.name,
                polymorphic_path(@repository.institution) %>
  </li>
  <li class="active"><%= @repository.name %></li>
</ol>

<h1><%= @repository.name %></h1>

<table class="table table-striped table-hover">
  <caption>Locations</caption>
  <thead>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
  <% @repository.locations.each do |location| %>
      <tr>
        <td>
          <% if current_user.has_permission?('repositories.edit_own') %>
              <%= link_to 'Edit', edit_location_path(location) %>
          <% end %>
        </td>
        <td>
          <% if current_user.has_permission?('repositories.delete_own') %>
              <%= link_to 'Delete', location, method: :delete,
                          data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
        <td><%= link_to location.name, location %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<p><%= link_to 'Add location', new_location_path %></p>