<% provide(:title, @repository.name) %>

<ol class="breadcrumb">
  <% if current_user.is_admin? %>
      <li><%= link_to 'Institutions', institutions_path %></li>
  <% end %>
  <li>
    <%= link_to @repository.institution.name,
                polymorphic_path(@repository.institution) %>
  </li>
  <li class="active"><%= @repository.name %></li>
</ol>

<div class="row">
  <div class="col-md-8">
    <h1><%= @repository.name %></h1>
  </div>
  <div class="col-md-4" style="text-align:right">
    <div class="btn-group">
      <%= link_to edit_repository_path(@repository), class: 'btn btn-default' do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-pencil') %>
          Edit
      <% end %>
      <%= link_to new_repository_location_path(@repository), class: 'btn btn-default' do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
          Add Location
      <% end %>
    </div>
  </div>
</div>

<table class="table table-striped table-hover">
  <caption>Locations</caption>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th># Resources</th>
    </tr>
  </thead>
  <tbody>
  <% @repository.locations.order(:name).each do |location| %>
      <tr>
        <td>
          <% if current_user.has_permission?('repositories.edit_own') %>
              <%= link_to 'Edit', edit_location_path(location) %>
          <% end %>
        </td>
        <td>
          <% if current_user.has_permission?('repositories.delete_own') %>
              <%= link_to 'Delete', location, method: :delete,
                          data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
        <td><%= link_to location.name, location %></td>
        <td><%= location.resources.count %></td>
      </tr>
  <% end %>
  </tbody>
</table>
