<% provide(:title, 'Reset Password') %>

<h1>Reset your password</h1>

<%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <p id="password_status" class="text-warning"></p>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, 'Confirm Password' %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <p id="password_confirmation_status"></p>
    </div>

    <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
