<h2>Basic Information</h2>

<% if @user == current_user %>
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails" target="_blank">Change</a>
<% end %>

<%= form_for @user, remote: true do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div class="form-group">
    <%= f.label :first_name, class: 'required' %>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :last_name, class: 'required' %>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email, class: 'required' %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <% if current_user.is_admin? %>
    <div class="form-group">
      <%= f.label :username, class: 'required' %>
      <%= f.text_field :username, class: 'form-control' %>
      <p id="username_status"></p>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :about, class: 'required' %>
    <%= f.text_area :about, class: 'form-control' %>
  </div>

  <% if current_user.is_admin? %>
    <div class="form-group">
      <%= f.label :role, class: 'required' %>
      <%= collection_select(:user, :role_id, @roles, :id, :name, {},
                            { class: 'form-control' }) %>
    </div>
  <% else %>
    <%= f.hidden_field :role_id, value: @user_role.id %>
  <% end %>

  <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
<% end %>
