<h2>Basic Information</h2>

<% if @user == current_user %>
    <div id="gravatar">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">Change</a>
    </div>
<% end %>

<%= form_for @user, remote: true do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>

    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>

    <% if current_user.is_admin? %>
        <div class="form-group">
          <%= f.label :username %>
          <%= f.text_field :username, class: 'form-control' %>
        </div>
    <% end %>

    <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
<% end %>
