<h2>Institution</h2>

<%= hidden_field_tag(:new_institution_url, new_institution_url) %>

<%= form_for @user, remote: true do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>

  <div class="form-group">
    <%= f.collection_select :desired_institution_id,
                            Institution.all.order(:name), :id, :name,
                            { selected: @user.institution_id },
                            { class: 'form-control' } %>
    <% unless current_user.is_admin? %>
      <p class="help-block">Changing your institution requires administrator
        approval. You will receive an email when your request has been approved
        or denied.</p>
    <% end %>
  </div>

  <div class="center">
    <%= f.submit (current_user.is_admin? and current_user != @user) ? 'Change' : 'My institution is selected above',
                 class: 'btn btn-primary' %>

    <button type="button" class="btn btn-default"
            data-toggle="modal" data-target="#psap-create-panel">
      <%= (current_user.is_admin? and current_user != @user) ? 'Institution is not listed here' : 'My institution is not listed here' %>
    </button>
  </div>
<% end %>

<%= render partial: 'shared/edit_panel',
           locals: { action: :create, entity_name: 'Institution' } %>
