<% # Will be read by PSAP.updateResultsCount() in JS %>
<input type="hidden" name="results_count" value="<%= @users.total_entries %>">

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th><%= sortable 'username' %></th>
      <th><%= sortable 'last_name', 'Name' %></th>
      <th><%= sortable 'institutions.name', 'Institution' %></th>
      <th><%= sortable 'confirmed' %></th>
      <th><%= sortable 'enabled' %></th>
      <th>Admin</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to user do %>
              <%= gravatar_for user, size: 52 %>
          <% end %>
        </td>
        <td><%= link_to user.username, user %></td>
        <td><%= link_to user.full_name, user %></td>
        <td>
          <%= entity_icon(user.institution) %>
          <%= user.institution ? link_to(user.institution.name, user.institution) : '' %>
        </td>
        <td><%= user.confirmed ? raw('&check;') : '' %></td>
        <td><%= user.enabled ? raw('&check;') : '' %></td>
        <td><%= user.is_admin? ? raw('&check;') : '' %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<div class="text-center">
  <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>
