<% provide(:title, "Edit User #{@user.username}") %>

<h1>Update your profile</h1>

<div id="registration_form">
  <p id="gravatar">
    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">Change</a>
  </p>

  <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>

      <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
        <p id="password_status" class="text-warning"></p>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, 'Confirm Password' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
        <p id="password_confirmation_status"></p>
      </div>

      <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
  <% end %>
</div>
