<% provide(:title, "Edit User #{@user.username}") %>
<% provide(:body_id, 'edit_user') %>

<% if current_user.is_admin? %>
    <ol class="breadcrumb">
      <li><%= link_to 'Users', users_path %></li>
      <li><%= link_to @user.username, @user %></li>
      <li class="active">Edit</li>
    </ol>
<% end %>

<% if @user == current_user %>
    <h1>Edit your account</h1>
<% else %>
    <h1>Edit user <%= @user.username %></h1>
<% end %>

<div class="row">

  <!-- left column menu -->
  <div class="col-sm-3">
    <nav>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#basic_info">Basic Information</a></li>
        <li><a href="#institution">Institution</a></li>
        <li><a href="#preferences">Preferences</a></li>
        <li><a href="#change_password">Change Password</a></li>
      </ul>
    </nav>
  </div>

  <div class="col-sm-9 tab-content">

    <div id="basic_info" class="tab-pane active">
      <%= render 'basic_info_form' %>
    </div>

    <div id="institution" class="tab-pane">
      <%= render 'institution_form' %>
    </div>

    <div id="preferences" class="tab-pane">
      <%= render 'preferences_form' %>
    </div>

    <div id="change_password" class="tab-pane">
      <%= render 'change_password_form' %>
    </div>

  </div>

</div>
