<% provide(:title, "Edit User #{@user.username}") %>
<% provide(:body_id, 'edit_user') %>

<% if current_user.is_admin? %>
    <ol class="breadcrumb">
      <li><%= link_to 'Users', users_path %></li>
      <li><%= link_to @user.username, @user %></li>
      <li class="active">Edit</li>
    </ol>
<% end %>

<% if @user == current_user %>
    <h1>Edit your account</h1>
<% else %>
    <h1>Edit user <%= @user.username %></h1>
<% end %>

<div class="row">

  <!-- left column menu -->
  <div class="col-sm-3">
    <nav>
      <ul class="nav nav-pills nav-stacked" role="tablist">
        <li role="presentation" class="active">
          <a href="#basic_info" data-toggle="tab" aria-controls="basic_info">
            Basic Information
          </a>
        </li>
        <li role="presentation">
          <a href="#institution" data-toggle="tab" aria-controls="institution">
            Institution
          </a>
        </li>
        <li role="presentation">
          <a href="#change_password" data-toggle="tab" aria-controls="change_password">
            Change Password
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="col-sm-9 tab-content">

    <div role="tabpanel" id="basic_info" class="tab-pane active">
      <%= render 'basic_info_form' %>
    </div>

    <div role="tabpanel" id="institution" class="tab-pane">
      <%= render 'institution_form' %>
    </div>

    <div role="tabpanel" id="change_password" class="tab-pane">
      <%= render 'change_password_form' %>
    </div>

  </div>

</div>
