<% provide(:title, "Edit User #{@user.username}") %>

<% if current_user.is_admin? %>
    <ol class="breadcrumb">
      <li><%= link_to 'Users', users_path %></li>
      <li><%= link_to @user.username, @user %></li>
      <li class="active">Edit</li>
    </ol>
<% end %>

<% if @user == current_user %>
    <h1>User Settings</h1>
<% else %>
    <h1>Edit user <%= @user.username %></h1>
<% end %>

<div class="row">
  <!-- left column menu -->
  <div class="entity_menu col-md-3">
    <nav>
      <ul class="list-group">
        <li class="list-group-item">
          <a href="#" data-open="basic_info">Basic Information</a>
        </li>
        <li class="list-group-item">
          <a href="#" data-open="institution">Institution</a>
        </li>
        <li class="list-group-item">
          <a href="#" data-open="preferences">Preferences</a>
        </li>
        <li class="list-group-item">
          <a href="#" data-open="change_password">Change Password</a>
        </li>
      </ul>
    </nav>
  </div>

  <div id="basic_info" class="col-md-6 form_view">
    <%= render 'basic_info_form' %>
  </div>

  <div id="institution" class="col-md-6 form_view">
    <%= render 'institution_form' %>
  </div>

  <div id="preferences" class="col-md-6 form_view">
    <%= render 'preferences_form' %>
  </div>

  <div id="change_password" class="col-md-6 form_view">
    <%= render 'change_password_form' %>
  </div>

</div>
