<% provide(:title, "Edit User #{@user.username}") %>

<% if @user == current_user %>
    <h1>Update your profile</h1>
<% else %>
    <h1>Edit user <%= @user.username %></h1>
<% end %>

<div class="row">
  <!-- left column menu -->
  <div class="entity_menu col-md-3">
    <nav>
      <ul class="list-group">
        <li class="list-group-item">
          <a href="#" data-open="basic_info">Basic Information</a>
        </li>
        <li class="list-group-item">
          <a href="#" data-open="preferences">Preferences</a>
        </li>
        <li class="list-group-item">
          <a href="#" data-open="change_password">Change Password</a>
        </li>
      </ul>
    </nav>
  </div>

  <section id="basic_info" class="col-md-9 form_view">
    <% if @user == current_user %>
        <div id="gravatar">
          <%= gravatar_for @user %>
          <a href="http://gravatar.com/emails" target="_blank">Change</a>
        </div>
    <% end %>

    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', :object => f.object %>

        <div class="form-group">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
          <div class="progress">
            <div class="progress-bar progress-bar-warning" role="progressbar"
                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="1"
                 style="width: 0%">
              <span class="sr-only"></span>
            </div>
          </div>
          <p id="password_status" class="text-warning"></p>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, 'Confirm Password' %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
          <p id="password_confirmation_status"></p>
        </div>

        <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
    <% end %>
  </section>

  <section id="preferences" class="col-md-9 form_view">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', :object => f.object %>

        <div class="form-group">
          <%= f.label :time_zone %>
          <%= f.collection_select :time_zone, ActiveSupport::TimeZone.all,
                                  :name, :to_s %>
        </div>

        <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
    <% end %>
  </section>

  <section id="change_password" class="col-md-9 form_view">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', :object => f.object %>

        <div class="form-group has-feedback">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
          <span class="glyphicon form-control-feedback"></span>
          <div class="progress">
            <div class="progress-bar progress-bar-warning" role="progressbar"
                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="1"
                 style="width: 0%">
              <span class="sr-only"></span>
            </div>
          </div>
          <p id="password_status" class="text-warning"></p>
        </div>

        <div class="form-group has-feedback">
          <%= f.label :password_confirmation, 'Confirm Password' %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
          <span class="glyphicon form-control-feedback"></span>
          <p id="password_confirmation_status"></p>
        </div>

        <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
    <% end %>
  </section>

</div>
