<% provide(:title, 'Users') %>

<% if current_user.is_admin? %>
    <ol class="breadcrumb">
      <li class="active">Users</li>
    </ol>
<% end %>

<div class="row">
  <div class="col-md-8">
    <h1>Users <small class="entity_count"></small></h1>
  </div>
  <div class="col-md-4" style="text-align:right">
    <%= form_tag users_path, method: 'get', class: 'entity_search',
                 style: 'float:right' do %>
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
        <%= search_field_tag :q, params[:q], placeholder: 'Search',
                             class: 'form-control' %>
    <% end %>
  </div>
</div>

<%= will_paginate @users, renderer: BootstrapPagination::Rails %>

<div id="users">
  <%= render 'users' %>
</div>

<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
