<% provide(:title, 'Register') %>

<h1>Sign up</h1>

<section id="basic_info" class="center-block">
  <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>

      <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
        <div class="progress">
          <div class="progress-bar progress-bar-warning" role="progressbar"
               aria-valuenow="0" aria-valuemin="0" aria-valuemax="1"
               style="width: 0%">
            <span class="sr-only"></span>
          </div>
        </div>
        <p id="password_status" class="text-warning"></p>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, 'Confirm Password' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
        <p id="password_confirmation_status"></p>
      </div>

      <%= f.submit 'Create Account', class: 'btn btn-primary' %>
  <% end %>
</section>
