<% formats.each do |format| %>
  <tr>
    <td class="depth-<%= depth %>">
      <%= depth > 0 ? raw('&#8627; ') : '' %>
      <%= link_to format.name, format %>
    </td>
    <td><%= FormatType.name_for_type(format.format_type) %></td>
    <td><%= format.score %></td>
  </tr>
  <%= render partial: 'format_rows',
             locals: { formats: format.children.order(:name), depth: depth + 1 } if format.children.any? %>
<% end %>
