<% # Will be read by updateResultsCount() in JS %>
<input type="hidden" name="results_count" value="<%= @formats.count %>">

<table class="table table-striped">
  <thead>
  <tr>
    <th></th>
    <th><%= sortable 'name' %></th>
    <th><%= sortable 'score', 'Score / 1' %></th>
    <th><%= sortable 'obsolete' %></th>
  </tr>
  </thead>
  <tbody>
  <% @formats.each do |format| %>
      <tr>
        <td>
          <%= link_to 'Edit', edit_format_path(format) %>
        </td>
        <td><%= link_to format.name, format %></td>
        <td><%= format.score %></td>
        <td><%= format.obsolete ? raw('&check;') : '' %></td>
      </tr>
  <% end %>
  </tbody>

</table>
