<% # Will be read by updateResultsCount() in JS %>
<input type="hidden" name="results_count" value="<%= @formats.count %>">

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable 'name' %></th>
      <th><%= sortable 'format_type', 'Type' %></th>
      <th><%= sortable 'score', 'Score / 1' %></th>
      <th><%= sortable 'obsolete' %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'format_rows', locals: { formats: @formats, depth: 0 } %>
  </tbody>
</table>
