<%= render 'shared/error_messages', :object => f.object %>

<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :score, raw('Score (0&ndash;1)') %>
  <%= f.number_field :score, min: 0, max: 1, maxlength: 1, class: 'form-control' %>
</div>

<div class="form-group">
  <div class="radio">
    <%= f.radio_button :obsolete, 0, checked: !@format.obsolete? %>
    <%= f.label :obsolete_0, 'Not Obsolete' %>
  </div>
  <div class="radio">
    <%= f.radio_button :obsolete, 1, checked: @format.obsolete? %>
    <%= f.label :obsolete_1, 'Obsolete' %>
  </div>
</div>

<div class="form-group addable_removable">
  <%= f.label :temperature_ranges, 'Temperature Range Scores' %>

  <%= f.fields_for :temperature_ranges do |g| %>
      <div class="addable_removable_input_group">
        <div class="row">
          <div class="col-sm-2">
            <%= g.label :min_temp_f, 'Min' %>
            <%= g.number_field :min_temp_f, min: 0, max: 100, maxlength: 3,
                               class: 'form-control' %>
          </div>
          <div class="col-sm-2">
            <%= g.label :min_temp_f, 'Max' %>
            <%= g.number_field :max_temp_f, min: 0, max: 100, maxlength: 3,
                               class: 'form-control' %>
          </div>
          <div class="col-sm-2">
            <%= g.label :min_temp_f, 'Score' %>
            <%= g.number_field :score, min: 0, max: 100, maxlength: 3,
                               class: 'form-control' %>
          </div>
          <div class="col-sm-2">
            <button class="btn btn-default btn-sm remove" type="button">
              <span class="glyphicon glyphicon-minus"></span>
            </button>
          </div>
        </div>
      </div>
  <% end %>

  <button class="btn btn-default btn-sm add" type="button">
    <span class="glyphicon glyphicon-plus"></span>
  </button>
</div>
