<% provide(:title, 'Formats') %>

<ol class="breadcrumb">
  <li class="active">Formats</li>
</ol>

<div class="row">
  <div class="col-md-8">
    <h1>Formats <small class="entity_count"></small></h1>
  </div>
  <div class="col-md-4" style="text-align:right">
    <div class="btn-group">
      <%= link_to new_format_path, class: 'btn btn-default' do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
          Add Format
      <% end %>
    </div>
  </div>
</div>

<%= form_tag formats_path, method: 'get', class: 'entity_search',
             style: 'float:right' do %>
    <%= search_field_tag :q, params[:q], placeholder: 'Search',
                         class: 'form-control' %>
<% end %>

<div id="formats">
  <%= render 'formats' %>
</div>
