<% provide(:title, @format.name) %>
<% provide(:body_id, 'show_format') %>

<ol class="breadcrumb">
  <li><%= link_to 'Formats', formats_path %></li>
  <li class="active"><%= @format.name %></li>
</ol>

<div class="row">
  <div class="col-sm-8">
    <h1><%= @format.name %></h1>
  </div>
  <div class="col-sm-4" style="text-align:right">
    <div class="btn-group">
      <!-- Edit -->
      <%= link_to edit_format_path(@format), class: 'btn btn-default' do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-pencil') %>
          Edit
      <% end %>
      <!-- Delete -->
      <%= link_to format_path(@format), method: 'delete',
                  class: 'btn btn-default',
                  data: { confirm: 'Deleting this format make it '\
                          'unavailable for new resource assessments. Are you '\
                          'sure you want to delete this format?' } do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-trash') %>
          Delete
      <% end %>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-sm-4">
    <dl>
      <dt>Type</dt>
      <dd><%= FormatType.name_for_type @format.format_type %></dd>
      <dt>Score</dt>
      <dd><%= @format.score ? @format.score : 'None' %></dd>
      <dt>Temperature Range Scores</dt>
      <dd>
        <table class="table">
          <thead>
            <tr>
              <th>Min (&deg;F)</th>
              <th>Max (&deg;F)</th>
              <th>Score</th>
            </tr>
          </thead>
          <tbody>
            <% @format.temperature_ranges.order(:min_temp_f).each do |range| %>
              <tr>
                <td><%= range.min_temp_f %></td>
                <td><%= range.max_temp_f %></td>
                <td><%= range.score %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </dd>
    </dl>
  </div>

  <div class="col-sm-8">
    <ul class="nav nav-tabs" role="tablist">
      <li class="active">
        <a href="#resources-tab" data-toggle="tab">Resources</a>
      </li>
      <li>
        <a href="#assessment-questions-tab" data-toggle="tab">Assessment Questions</a>
      </li>
      <li>
        <a href="#activity-tab" data-toggle="tab">Activity</a>
      </li>
    </ul>

    <div class="tab-content">
      <div id="resources-tab" class="tab-pane active">
        <% if @format.resources.any? %>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Title</th>
                <th>Institution</th>
                <th>Complete</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'resource_tree_rows',
                         locals: { resources: @format.resources.order(:name),
                                   depth: 0 } if @format.resources.any? %>
            </tbody>
          </table>
        <% end %>
      </div>

      <div id="assessment-questions-tab" class="tab-pane">
        <ul>
          <% @format.assessment_questions.order(:index).each do |question| %>
            <li><%= question.name %></li> <!-- TODO: improve display & show hierarchy -->
          <% end %>
        </ul>
      </div>

      <div id="activity-tab" class="tab-pane">
        <%= render 'shared/events', events: @events %>
      </div>

    </div>
  </div>

</div>
