<% provide(:title, @format.name) %>
<% provide(:body_id, 'show_format') %>

<ol class="breadcrumb">
  <li><%= link_to 'Formats', formats_path %></li>
  <li class="active"><%= @format.name %></li>
</ol>

<div class="psap-page-title">
  <h1>
    <%= @format.name %>
    <% if @format.format_id_guide_page %>
      <small>
        <%= link_to('(Format ID Guide)',
                    format_id_guide_category_path(@format.format_id_guide_page,
                                                  anchor: @format.format_id_guide_anchor)) %>
      </small>
    <% end %>
  </h1>
</div>

<div class="row">

  <div class="col-sm-4">
    <dl>
      <dt>Class</dt>
      <dd><%= FormatClass.name_for_class(@format.format_class) %></dd>
      <dt>Score</dt>
      <dd><%= @format.score ? @format.score : 'None' %></dd>
      <dt>Temperature Range Scores</dt>
      <dd>
        <% if @format.temperature_ranges.any? %>
          <table class="table">
            <thead>
              <tr>
                <th>Min (&deg;F)</th>
                <th>Max (&deg;F)</th>
                <th>Score</th>
              </tr>
            </thead>
            <tbody>
              <% @temperature_ranges.each do |range| %>
                <tr>
                  <td><%= range.min_temp_f %></td>
                  <td><%= range.max_temp_f %></td>
                  <td><%= range.score %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% elsif @format.score.nil? %>
          None (format is not selectable)
        <% else %>
          None
        <% end %>
      </dd>
      <dt>Relative Humidity Range Scores</dt>
      <dd>
        <% if @format.humidity_ranges.any? %>
          <table class="table">
            <thead>
              <tr>
                <th>Min (%)</th>
                <th>Max (%)</th>
                <th>Score</th>
              </tr>
            </thead>
            <tbody>
              <% @humidity_ranges.each do |range| %>
                  <tr>
                    <td><%= range.min_rh %></td>
                    <td><%= range.max_rh %></td>
                    <td><%= range.score %></td>
                  </tr>
              <% end %>
            </tbody>
          </table>
        <% elsif @format.score.nil? %>
          None (format is not selectable)
        <% else %>
          None
        <% end %>
      </dd>
    </dl>
  </div>

  <div class="col-sm-8">
    <ul class="nav nav-tabs" role="tablist">
      <li class="active">
        <a href="#resources-tab" data-toggle="tab">Resources</a>
      </li>
      <li>
        <a href="#institutions-tab" data-toggle="tab">Institutions</a>
      </li>
      <li>
        <a href="#assessment-questions-tab" data-toggle="tab">Assessment Questions</a>
      </li>
    </ul>

    <div class="tab-content">
      <div id="resources-tab" class="tab-pane active">
        <ul class="psap-entity-list">
          <% @format.resources.order(:name).each do |resource| %>
            <li>
              <span class="title">
                <%= entity_icon(resource) %>
                <%= link_to resource.name, resource %>
              </span>
              <br>
              <span class="description">
                <%= entity_icon(Institution) %>
                <%= resource.location.repository.institution.name %>
              </span>
            </li>
          <% end %>
        </ul>
      </div>

      <div id="institutions-tab" class="tab-pane">
        <ul class="psap-entity-list">
          <% @institution_counts.each do |pair| %>
            <li>
              <span class="title"><%= link_to pair[:institution].name, pair[:institution] %></span>
              <small>
                <%= entity_icon(Resource, pluralize(pair[:count], 'resource') + ' of this format') %>
                <%= pair[:count] %>
              </small>
            </li>
          <% end %>
        </ul>
      </div>

      <div id="assessment-questions-tab" class="tab-pane">
        <ul>
          <% @format.all_assessment_questions.order(:index).each do |question| %>
            <li><%= question.name %></li> <!-- TODO: improve display & show hierarchy -->
          <% end %>
        </ul>
      </div>

    </div>
  </div>

</div>
