<% assessment_questions.order(:index).each do |question| %>
    <% response = entity.assessment_question_responses.where(assessment_question_id: question.id).first %>
    <% if response and response.assessment_question_option %>
        <dt class="depth-<%= depth %>"><%= question.name %></dt>
        <dd class="depth-<%= depth %>">
          <ul>
            <% question.assessment_question_options.order(:index).each do |option| %>
                <li class="<%= response.assessment_question_option and
                                       option.id == response.assessment_question_option.id ? 'selected' : '' %>">
                  <%= option.name %>
                </li>
            <% end %>
          </ul>
        </dd>
        <%= render partial: 'shared/assessment_questions',
                   locals: { entity: entity,
                             assessment_questions: question.children.order(:index),
                             depth: depth + 1 } if question.children.any? %>
    <% end %>
<% end %>
