<%
case action
  when :create
    id = 'psap-create-panel'
  when :assess
    id = 'psap-assess-panel'
  else
    id = 'psap-edit-panel'
end
%>
<div class="modal fade psap-edit-panel psap-inner-scrolling" id="<%= id %>"
     data-backdrop="static" data-keyboard="false" tabindex="-1"
     role="dialog" aria-labelledby="<%= id %>-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="<%= id %>-label">
          <%= action.to_s.capitalize %> <%= entity_name %>
        </h4>
      </div>
      <div class="modal-body">
        <% # the edit form will be appended here via ajax
        %>
      </div>
    </div>
  </div>
</div>
