<%
# Displays a nested tree of entities.
entities ||= current_user.institution.repositories
selected_entity ||= nil
%>

<ul class="hidden-xs" <%= entities == current_user.institution.repositories ? 'id=psap-entity-nav-menu' : '' %>>
  <% if entities == current_user.institution.repositories %>
    <li <%= controller_name == 'dashboard' ? 'class=active' : '' %>>
      <div>
        <i class="fa fa-tachometer psap-entity-icon"></i>
        <%= link_to 'Dashboard', dashboard_path %>
      </div>
    </li>
    <li <%= controller_name == 'resources' and controller.action_name == 'search' ? 'class=active' : '' %>>
      <div>
        <i class="fa fa-search psap-entity-icon"></i>
        <%= link_to 'Resource Search', resource_search_path %>
      </div>
    </li>
    <li <%= controller_name == 'assessment_report' ? 'class=active' : '' %>>
      <div>
        <i class="glyphicon glyphicon-stats psap-entity-icon"></i>
        <%= link_to 'Assessment Report', assessment_report_path %>
      </div>
    </li>
    <li <%= (controller_name == 'institutions' and controller_path != 'index') ? 'class=active' : '' %>>
      <div>
        <%= entity_icon(current_user.institution) %>
        <%= link_to 'My Institution', current_user.institution %>
      </div>
    </li>
  <% end %>

  <% entities.each do |entity| %>
    <% if entity.kind_of?(Resource) %>
      <% child_collections = entity.children.where(resource_type: Resource::Type::COLLECTION) %>
    <% else %>
      <% child_collections = [] %>
    <% end %>

    <% active = (selected_entity == entity or
        (selected_entity.kind_of?(Resource) and
            selected_entity.resource_type == Resource::Type::ITEM and
            selected_entity.parent == entity)) %>

    <li <%= active ? 'class=active' : '' %>>
      <div>
        <% show_chevron = !((entity.kind_of?(Resource) and !child_collections.any?) or
            (entity.kind_of?(Repository) and entity.collections.count < 1)) %>
        <a class="psap-expand fa fa-chevron-right"
           style="<%= show_chevron ? '' : 'visibility: hidden' %>"></a>
        <%= entity_icon(entity) %>
        <%= link_to entity.name, entity %>
      </div>
      <% entities = [] %>
      <% if entity.kind_of?(Resource) and child_collections.any? %>
        <% entities = child_collections %>
      <% elsif entity.kind_of?(Location) and entity.resources.any? %>
        <% entities = entity.resources.where(parent_id: nil) %>
      <% elsif entity.kind_of?(Repository) and entity.locations.any? %>
        <% entities = entity.locations %>
      <% elsif entity.kind_of?(Institution) and entity.repositories.any? %>
        <% entities = entity.repositories %>
      <% end %>
      <%= render partial: 'shared/entity_hierarchy',
                 locals: { entities: entities,
                           selected_entity: selected_entity } %>
    </li>
  <% end %>
</ul>
