<%
# Displays a nested tree of entities.
entities ||= current_user.institution.repositories
selected_entity ||= nil
%>

<ul class="hidden-xs" <%= entities == current_user.institution.repositories ? 'id=psap-entity-nav-menu' : '' %>>
  <% if entities == current_user.institution.repositories %>
    <li <%= controller_name == 'dashboard' ? 'class=active' : '' %>>
      <div>
        <i class="fa fa-tachometer psap-entity-icon"></i>
        <%= link_to 'Dashboard', dashboard_path %>
      </div>
    </li>
    <li <%= controller_name == 'resources' and controller.action_name == 'search' ? 'class=active' : '' %>>
      <div>
        <i class="fa fa-search psap-entity-icon"></i>
        <%= link_to 'Resource Search', resource_search_path %>
      </div>
    </li>
    <li <%= controller_name == 'assessment_report' ? 'class=active' : '' %>>
      <div>
        <i class="glyphicon glyphicon-stats psap-entity-icon"></i>
        <%= link_to 'Assessment Report', assessment_report_path %>
      </div>
    </li>
    <li <%= (controller_name == 'institutions' and controller_path != 'index') ? 'class=active' : '' %>>
      <div>
        <%= entity_icon(current_user.institution) %>
        <%= link_to 'My Institution', current_user.institution %>
      </div>
    </li>
  <% end %>
  <% entities.each do |entity| %>
    <li <%= selected_entity == entity ? 'class=active' : '' %>>
      <div>
        <% if entity.kind_of?(Resource) and !entity.children.any? %>
        <% else %>
          <a class="psap-expand fa fa-chevron-right"></a>
        <% end %>
        <%= entity_icon(entity) %>
        <%= link_to entity.name, entity %>
      </div>
      <% if entity.kind_of?(Resource) and entity.children.any? %>
        <%= render partial: 'shared/entity_hierarchy',
                   locals: { entities: entity.children,
                             selected_entity: selected_entity } %>
      <% elsif entity.kind_of?(Location) and entity.resources.any? %>
        <%= render partial: 'shared/entity_hierarchy',
                   locals: { entities: entity.resources.where(parent_id: nil),
                             selected_entity: selected_entity } %>
      <% elsif entity.kind_of?(Repository) and entity.locations.any? %>
        <%= render partial: 'shared/entity_hierarchy',
                   locals: { entities: entity.locations,
                             selected_entity: selected_entity } %>
      <% elsif entity.kind_of?(Institution) and entity.repositories.any? %>
        <%= render partial: 'shared/entity_hierarchy',
                   locals: { entities: entity.repositories,
                             selected_entity: selected_entity } %>
      <% end %>
    </li>
  <% end %>
</ul>
