<% if events.any? %>
  <ol class="psap-entity-list psap-event-list">
    <% events.each do |event| %>
      <li>
        <span class="title"><%= event.description %></span>
        <br>
        <span class="description">
          <%= link_to_event_entity(event) %>
          <% if event.user %>
            by <%= entity_icon(event.user) %>
            <%= link_to(event.user) do %>
              <%= event.user.full_name %>
            <% end %>
          <% end %>
          | <%= local_time_ago(event.created_at) %>
        </span>
      </li>
    <% end %>
  </ol>
<% end %>
