<% children.each do |question| %>

    <% responses = [];
       entity.assessment_question_responses.each do |response|
         responses << response if response.assessment_question.id == question.id
       end
       responses << AssessmentQuestionResponse.new(assessment_question: question) unless responses.any?
       options = question.assessment_question_options.order(:index) %>

    <hr>

    <div class="row depth-<%= depth %>">
      <div class="col-sm-11">
        <h3><%= depth > 0 ? raw('&#8627 ') : '' %><%= question.name %></h3>
      </div>
      <div class="col-sm-1" style="text-align:right">
        <button type="button" class="btn btn-default btn-sm hovertip-fire"
                data-container="body" data-toggle="popover"
                data-placement="left"
                data-content="<%= question.help_text %>">
          ?
        </button>
      </div>
    </div>

    <div class="row depth-<%= depth %>">
      <div class="col-sm-12 question">
        <% case question.question_type %>
        <% when AssessmentQuestionType::RADIO %>
            <% options.each do |option| %>
                <% response = responses.first
                   selected = response && response.assessment_question_option ?
                           response.assessment_question_option.id == option.id :
                           false
                %>
                <label>
                  <%= radio_button_tag "resource[assessment_question_responses_attributes][#{response.id}][assessment_question_option_id]",
                                       option.id,
                                       selected,
                                       'data-option-score' => option.value %>
                  <%= option.name %>
                </label>
                <br>
            <% end %>
        <% when AssessmentQuestionType::SELECT %>
            <label>
              <% response = responses.first
                 selected = response && response.assessment_question_option ?
                         response.assessment_question_option.id :
                         false
              %>
              <%= select_tag "resource[assessment_question_responses_attributes][#{0}][assessment_question_option_id]",
                             options_for_select(options.map { |op|
                               [op.name, op.id, { 'data-option-score' => op.value }] },
                                                selected: selected),
                             { include_blank: true } %>
            </label>
        <% when AssessmentQuestionType::CHECKBOX %>
            <% options.each do |option| %>
                <% response = responses.first
                   selected = response && response.assessment_question_option ?
                           response.assessment_question_option.id == option.id :
                           false
                %>
                <label>
                  <%= check_box_tag "resource[assessment_question_responses_attributes][#{response.id}][assessment_question_option_id]",
                                    option.id,
                                    selected,
                                    'data-option-score' => option.value %>
                  <%= option.name %>
                </label>
                <br>
            <% end %>
        <% end %>
      </div>
    </div>

    <%= render partial: 'shared/question_tree_rows',
               locals: {f: f,
                        entity: entity,
                        children: question.children.order(:index),
                        depth: depth + 1} if question.children.any? %>
<% end %>
