<% # assessment section container, appearing in the "edit/assess" view of all
   # assessable entities (resources, institutions, locations). %>

<div class="section" id="<%= section.name.gsub('/', '_').gsub(' ', '_') %>"
     data-id="<%= section.id %>" data-weight="<%= section.weight %>">
  <h2><%= section.name %></h2>
  <p><%= section.description %></p>
  <div class="section-questions"></div>
</div>
