<%= provide(:body_id, 'assessment_report') %>
<%= provide(:title, 'Assessment Report') %>

<%= hidden_field_tag(:subpage, 'assessment_report') %>

<h1>Assessment Report</h1>

<div class="row">
  <div class="col-sm-4 psap-entity-nav-menu">
    <%= render partial: 'shared/entity_hierarchy',
               locals: { selected_entity: @location }%>
  </div>
  <div class="col-sm-8">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active">
        <a href="#preservation_infrastructure_section"
           id="preservation_infrastructure_tab"
           data-toggle="tab"
           data-url="<%= root_url + '/assessment-report/preservation' %>">Preservation Infrastructure</a>
      </li>
      <li role="presentation">
        <a href="#storage_environments_section"
           id="storage_environments_tab"
           data-toggle="tab"
           data-url="<%= root_url + '/assessment-report/storage' %>">Storage Environments</a>
      </li>
      <li role="presentation">
        <a href="#resources_section"
           id="resources_tab"
           data-toggle="tab"
           data-url="<%= root_url + '/assessment-report/resources' %>">Resources</a>
      </li>
      <li role="presentation">
        <a href="#collections_section"
           id="collections_tab"
           data-toggle="tab"
           data-url="<%= root_url + '/assessment-report/collections' %>">Collections</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="preservation_infrastructure_section">
        <%= render partial: 'preservation_section' %>
      </div>

      <div class="tab-pane" id="storage_environments_section">
        <p>Loading&hellip;</p>
      </div>

      <div class="tab-pane" id="resources_section">
        <p>Loading&hellip;</p>
        <p>(This may take a while for large numbers of resources.)</p>
      </div>

      <div class="tab-pane" id="collections_section">
        <p>Loading&hellip;</p>
        <p>(This may take a while for large numbers of collections.)</p>
      </div>
    </div>
  </div>
</div>
