<% provide(:title, 'Edit Section') %>

<ol class="breadcrumb">
  <li><%= link_to 'Assessment Template', assessments_path %></li>
  <li><%= @assessment_section.name %></li>
</ol>

<h1><%= @assessment_section.name %></h1>

<%= form_for(@assessment_section) do |f| %>
    <%= render 'form', :f => f %>

    <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
<% end %>
