<% # Will be read by PSAP.updateResultsCount() in common.js %>
<input type="hidden" name="results_count" value="<%= @events.total_entries %>">

<div class="center">
  <%= raw(level_buttons(@event_level, params)) %>
  <%= link_to params.merge(format: :atom, key: @user.feed_key),
              class: 'feed_link',
              title: 'Subscribe to a feed of events of this or greater severity' do
    image_tag('feed.svg', height: 24, alt: 'Atom feed')
  end %>
</div>

<% if @events.any? %>

    <table class="table">
      <thead>
      <tr>
        <th>Level</th>
        <th>Event</th>
        <th>Entity</th>
        <th>Occurred</th>
        <th>User</th>
        <th nowrap="true">IP Address</th>
      </tr>
      </thead>
      <tbody>
      <% @events.each do |event| %>
          <tr>
            <td>
              <span class="<%= bootstrap_class_for_event_level event.event_level %>">
                <%= EventLevel::name_for_level event.event_level %></span>
            </td>
            <td><%= event.description %></td>
            <td><%= link_to_event_entity(event) %></td>
            <td><%= local_time_ago(event.created_at) %></td>
            <td>
              <% if event.user %>
                <%= link_to event.user, title: event.user.full_name do %>
                  <%= glyphicon(event.user) %>
                  <%= event.user.username %>
                <% end %>
              <% end %>
            </td>
            <td><%= event.address %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <div class="text-center">
      <%= will_paginate @events, renderer: BootstrapPagination::Rails %>
    </div>

<% end %>
