<% provide(:title, 'Event Log') %>
<% provide(:body_id, 'events') %>

<div class="row">
  <div class="col-sm-8">
    <h1>Event Log <small class="entity_count"></small></h1>
  </div>
  <div class="col-sm-4">
    <%= form_tag events_path, method: 'get', class: 'entity_search',
                 style: 'float:right' do %>
        <%= search_field_tag :q, params[:q], placeholder: 'Search',
                             class: 'form-control' %>
    <% end %>
  </div>
</div>

<p class="center">
    <%= raw(level_buttons(@event_level)) %>
</p>

<%= will_paginate @events, renderer: BootstrapPagination::Rails %>

<div id="events">
  <%= render 'events' %>
</div>

<%= will_paginate @events, renderer: BootstrapPagination::Rails %>
