<% provide(:title, 'Event Log') %>

<h1>Event Log</h1>

<%= will_paginate @events, renderer: BootstrapPagination::Rails %>

<table class="table">
  <thead>
  <tr>
    <th>Event</th>
    <th>Occurred</th>
    <th>User</th>
  </tr>
  </thead>
  <tbody>
  <% @events.each do |event| %>
      <tr>
        <td><%= event.description %></td>
        <td><%= local_time_ago(event.created_at) %></td>
        <td>
          <% if event.user %>
              <%= link_to event.user.username, event.user,
                          title: event.user.full_name %></td>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @events, renderer: BootstrapPagination::Rails %>
