<% provide(:title, 'Event Log') %>

<h1>Event Log</h1>

<%= will_paginate %>

<table class="table">
  <thead>
    <th>Event</th>
    <th>Occurred</th>
    <th>User</th>
  </thead>
  <tbody>
  <% @events.each do |event| %>
      <tr>
        <td><%= event.description %></td>
        <td><%= event.created_at.strftime('%B %e, %Y @ %l:%M:%S %p %Z') %></td>
        <td>
          <% if event.user %>
              <%= link_to event.user.username, event.user,
                          title: event.user.full_name %></td>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate %>
