<% provide(:body_id, 'format_id_guide_results') %>
<% provide(:title, 'Format ID Guide') %>

<ol class="breadcrumb">
  <li>
    <%= link_to 'Format ID Guide', format_id_guide_path %>
  </li>
  <li class="active">Search</li>
</ol>

<div class="row">
  <div class="col-sm-9">
    <h1>Results for "<%= @query %>"</h1>
  </div>
  <div class="col-sm-3">
    <form method="get" action=""
          class="form-inline entity_search" style="float:right; max-width:100%">
      <%= search_field_tag :q, params[:q], class: 'form-control' %>
    </form>
    <!--
    <form method="get" action=""
          class="form-inline" style="float:right; max-width:100%">
      <div class="input-group">
        <%= search_field_tag :q, params[:q], class: 'form-control' %>
        <span class="input-group-btn">
          <input type="submit" value="Search" class="btn btn-default">
        </span>
      </div>
    </form>
    -->
  </div>
</div>

<div id="results">
  <%= render 'results' %>
</div>
