<%= render 'shared/error_messages', :object => f.object %>

<div class="form-group has-feedback">
  <%= f.label :name, 'Question' %>
  <%= f.text_field :name, class: 'form-control' %>
  <span class="glyphicon form-control-feedback"></span>
</div>

<div class="form-group has-feedback">
  <%= f.label :assessment_section_id, 'Section' %>
  <%= f.collection_select :assessment_section_id,
                          AssessmentSection.order(:index), :id, :name,
                          { include_blank: false },
                          { class: 'form-control' } %>
</div>

<div class="form-group has-feedback">
  <%= f.label :parent_id, 'Sub-Question Of' %>
  <%= select('assessment_question', 'parent_id',
             assessment_question_options_for_select,
             { include_blank: true },
             { class: 'form-control' }) %>
</div>

<div class="form-group has-feedback">
    <%= f.label :enabling_assessment_question_option_id, 'Enabling Value' %>
    <%= select('assessment_question', 'enabling_assessment_question_option_id',
               [],
               { include_blank: true },
               { 'class' => 'form-control',
               'data-option-dependent' => true,
               'data-option-observed' => 'assessment_question_parent_id',
               'data-option-url' => root_path.chomp('/') + '/assessment-questions/:id:/options.json',
               'data-option-key-method' => 'id',
               'data-option-value-method' => 'name' }) %>
</div>

<% # TODO: make this changeable %>
<%= f.hidden_field :index, value: 0 %>

<div class="form-group has-feedback">
  <%= f.label :question_type, 'Type' %>
  <%= select('assessment_question', 'question_type',
             options_for_select([['Radio buttons', AssessmentQuestionType::RADIO],
                                 ['Checkboxes', AssessmentQuestionType::CHECKBOX]]),
             { include_blank: false },
             { class: 'form-control' }) %>
</div>

<div class="form-group has-feedback">
  <%= f.label :weight, 'Weight' %>
  <%= f.text_field :weight, class: 'form-control' %>
  <span class="glyphicon form-control-feedback"></span>
</div>

<div class="form-group has-feedback">
  <%= f.label :help_text %>
  <%= f.text_field :help_text, class: 'form-control' %>
  <span class="glyphicon form-control-feedback"></span>
</div>

<div class="form-group psap-addable-removable">
  <%= f.label :assessment_question_options, 'Options' %>
  <%= f.fields_for :assessment_question_options do |g| %>
      <div class="psap-addable-removable-input-group well">

        <div class="form-group has-feedback">
          <%= g.label :name, 'Option' %>
          <%= g.text_field :name, class: 'form-control' %>
          <span class="glyphicon form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback">
          <%= g.label :value, 'Value' %>
          <%= g.text_field :value, class: 'form-control' %>
          <span class="glyphicon form-control-feedback"></span>
        </div>

        <%= g.hidden_field :index, value: 0, class: 'index' %>
        <%= g.hidden_field :_destroy, value: 0, class: 'destroy' %>

        <button class="btn btn-default remove" type="button">Remove</button>
      </div>
  <% end %>
  <button class="btn btn-default add" type="button">Add Option</button>
</div>
