<% provide(:title, 'Edit Question') %>
<% provide(:body_id, 'edit_assessment_question') %>

<ol class="breadcrumb">
  <li><%= link_to 'Assessments', assessments_path %></li>
  <li><%= link_to @assessment_question.assessment_section.assessment.name,
                  @assessment_question.assessment_section.assessment %></li>
  <li class="active">
      <%= "Question #{(@assessment_question.index + 1).to_s}: #{@assessment_question.name}" %>
  </li>
</ol>

<h1><%= @assessment_question.name %></h1>

<%= form_for(@assessment_question) do |f| %>
    <%= render 'form', :f => f %>

    <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
<% end %>
