<% provide(:title, 'Edit Question') %>
<% provide(:body_id, 'edit_assessment_question') %>

<ol class="breadcrumb">
  <li><%= link_to 'Assessment Template', assessments_path %></li>
  <li><%= @assessment_question.name %></li>
</ol>

<h1><%= @assessment_question.name %></h1>

<%= form_for(@assessment_question) do |f| %>
    <%= render 'form', :f => f %>

    <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
<% end %>
