<% provide(:title, 'Edit Question') %>

<ol class="breadcrumb">
  <% if current_user.is_admin? %>
      <li><%= link_to 'Assessment Template', assessments_path %></li>
  <% end %>
  <li><%= @assessment_question.name %></li>
</ol>

<h1><%= @assessment_question.name %></h1>

<%= form_for(@assessment_question) do |f| %>
    <%= render 'form', :f => f %>

    <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
<% end %>
