<% provide(:title, 'New Question') %>
<% provide(:body_id, 'new_assessment_question') %>

<ol class="breadcrumb">
  <li><%= link_to 'Assessments', assessments_path %></li>
  <li><%= link_to @assessment.name, @assessment %></li>
  <li class="active">New Question</li>
</ol>

<h1>New Question</h1>

<%= form_for(@assessment_question) do |f| %>
    <%= render 'form', :f => f %>

    <%= f.submit 'Create Question', class: 'btn btn-primary' %>
<% end %>
