<h2>Basic Info</h2>

<% # required for autocompletion %>
<input type="hidden" name="institution_url"
       value="<%= institution_url(@resource.location.repository.institution) %>">

<%= form_for @resource, url: form_url, remote: true do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>

    <div class="form-group">
      <%= f.label :name, 'Title/Name' %>
      <button type="button" class="btn btn-default help" data-container="body" data-toggle="popover" data-placement="right"
              data-content="<p>Name or title used to refer to this resource. REQUIRED.</p>
            <p>Examples:</p>
            <ul>
                <li>William G. Hill Papers;</li>
                <li>Crystal Lake Map, 1809;</li>
                <li>Weyland-Yutani Collection;</li>
                <li>3000 Miles from Finland;</li>
                <li>Herald-Whig Photographic File;</li>
                <li>Rotary International Center Proposal</li>
            </ul>">
        ?
      </button>
      <%= f.text_field :name, class: 'form-control typeahead' %>
    </div>

    <div class="form-group">
      <%= f.label :local_identifier, 'Local Identifier' %>
      <button type="button" class="btn btn-default help" data-container="body" data-toggle="popover" data-placement="right"
              data-content="<p>Identification number or code assigned to each resource at your organization. REQUIRED.</p>

                <p>Identifiers are typically unique, and often sequential. But whatever works for your organization
                and makes sense for your collections is valid. If this resource has none, assign a temporary or
                placeholder ID.</p>

                <p>Examples:</p>
                <ul>
                    <li>85.000  (First item accessioned in 1985)</li>
                    <li>11/6/20  (Record group, series, item numbers)</li>
                    <li>film187  (187th film in collection)</li>
                    <li>PP-ER1  (Personal papers [PP] of Ellen Ripley [ER], the first [1] with these initials)</li>
                </ul>">
        ?
      </button>
      <small>(e.g. accession number, reference code)</small>
      <%= f.text_field :local_identifier, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :resource_type, 'Resource Type' %>
      <button type="button" class="btn btn-default help" data-container="body" data-toggle="popover" data-placement="right"
              data-content="Is this an Item or Collection? Indicate the hierarchical level of the resource. REQUIRED.">
        ?
      </button>
      <div class="radio">
        <%= f.radio_button :resource_type, ResourceType::ITEM %>
        <%= f.label :resource_type, 'Item', value: ResourceType::ITEM %>
      </div>
      <div class="radio">
        <%= f.radio_button :resource_type, ResourceType::COLLECTION %>
        <%= f.label :resource_type, 'Collection', value: ResourceType::COLLECTION %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :parent_id, 'Parent Resource' %>
      <button type="button" class="btn btn-default help" data-container="body" data-toggle="popover" data-placement="right"
              data-content="Indicate the parent collection or group in which the resource resides. If this resource is a collection at the top-level, or is unassociated with any established collection or group, select <em>None (Top-Level)</em>. REQUIRED.">
        ?
      </button>
      <%= select('resource', 'parent_id',
                 resource_hierarchy_options_for_select(@resource.location),
                 { include_blank: 'None (Top-Level)' },
                 { class: 'form-control' }) %>
    </div>

    <div class="form-group">
      <label>Format Type</label>
      <button type="button" class="btn btn-default help" data-container="body" data-toggle="popover" data-placement="right"
              data-content="Select the appropriate format of the resource (item or collection part) you are assessing. If you need help, select <em>Format ID Guide</em> from the top utility bar to determine what you have.">
        ?
      </button>
      <br>
      <% FormatType.all.each do |type| %>
        <label class="radio-inline">
          <input type="radio" name="format_type" class="format_type" value="<%= type %>">
          <%= FormatType.name_for_type(type) %>
        </label>
      <% end %>
      <!-- select menus will be appended here -->
    </div>

    <div class="panel-group" id="accordion" style="margin-top:2em">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#additional-info">
              Additional Info
            </a>
          </h4>
        </div>
        <div id="additional-info" class="panel-collapse collapse">
          <div class="panel-body">
              <div class="form-group">
                <%= f.label :significance %>
                <button type="button" class="btn btn-default help" data-container="body"
                        data-toggle="popover" data-placement="right"
                        data-content="<p>Select the significance of this resource to your organization. OPTIONAL.</p>
                  <p>Here you may assign a level of significance of this item at your organization. You may want
                  to differentiate between items of higher and lesser significance when apportioning funds for
                  preservation. Choosing the level of significance here will not impact your preservation
                  assessment score but can allow you to order your decision list by significance level.</p>">
                  ?
                </button>

                <div class="radio">
                  <%= f.radio_button :significance, '0' %>
                  <%= f.label :significance, 'Low', value: '0' %>
                </div>
                <div class="radio">
                  <%= f.radio_button :significance, '0.5' %>
                  <%= f.label :significance, 'Moderate', value: '0.5' %>
                </div>
                <div class="radio">
                  <%= f.radio_button :significance, '1' %>
                  <%= f.label :significance, 'High', value: '1' %>
                </div>
              </div>

              <div class="form-group addable_removable">
                <%= f.label :creators, 'Creator(s)' %>
                <button type="button" class="btn btn-default help" data-container="body"
                        data-toggle="popover" data-placement="right"
                        data-content="<p>Indicate the person(s) or organization(s) responsible for producing this resource. OPTIONAL.</p>

                    <p>For a collection, there are likely to be numerous creators. Consistency is most crucial.</p>

                    <p>Examples:</p>
                    <ul>
                        <li>Remi, Georges, 1907-1983</li>
                        <li>Casterman (Firm)</li>
                        <li>Highsmith, Patricia, 1921-1995</li>
                        <li>Missouri EPA. Pollution Prevention Section</li>
                        <li>University of Illinois at Urbana-Champaign. College of Engineering</li>
                    </ul>">
                  ?
                </button>

                <%= f.fields_for :creators do |g| %>
                    <div class="addable_removable_input_group well">
                      <%= select('resource[creators_attributes][0]', 'creator_type',
                                 options_for_select([['Person', CreatorType::PERSON],
                                                     ['Company', CreatorType::COMPANY]]),
                                 { include_blank: false },
                                 { class: 'form-control' }) %>
                      <%= g.text_field :name, class: 'form-control' %>
                      <button class="btn btn-default btn-sm remove" type="button">
                        <span class="glyphicon glyphicon-minus"></span>
                      </button>
                    </div>
                <% end %>
                <button class="btn btn-default btn-sm add" type="button">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </div>

              <div class="form-group addable_removable">
                <%= f.label :resource_dates, 'Date(s)' %>
                <button type="button" class="btn btn-default help" data-container="body"
                        data-toggle="popover" data-placement="right"
                        data-content="<p>Enter date(s) associated with an event in the life
                  cycle of the resource. Date of creation or availability of the
                  resource is typically addressed here. OPTIONAL.</p>

                  <p>The date value follows the YYYY-MM-DD syntax, and comes in three different forms (types):</p>
                  <dl>
                    <dt>Single date</dt>
                    <dd>Resource falls within a single year or has an exact date (e.g.
                    &quot;1987&quot; or &quot;1987-02-27&quot;)</dd>
                    <dt>Span/Inclusive range</dt>
                    <dd>Resource spans across a range of dates: the earliest and latest
                    dates (e.g. Begin: &quot;1987&quot;; End: &quot;2014&quot;)</dd>
                    <dt>Bulk range</dt>
                    <dd>Resource has a predominant focus in this date range; may be
                    used to complement a span/inclusive date range (e.g. Begin:
                    &quot;1987&quot;; End: &quot;2014&quot;)</dd>
                  </dl>

                  <p>If the full date is unknown, month and year (YYYY-MM) or just year (YYYY) may be used.</p>">
                  ?
                </button>

                <%= f.fields_for :resource_dates do |g| %>
                    <div class="addable_removable_input_group well">
                      <%= g.label 'Type' %>
                      <%= g.select('date_type',
                                   options_for_select([['Single', DateType::SINGLE],
                                                       ['Span/Inclusive', DateType::SPAN],
                                                       ['Bulk', DateType::BULK]],
                                                      selected: g.object.date_type),
                                   { include_blank: false },
                                   { class: 'form-control date_type' }) %>
                      <div class="input-group begin_date">
                        <%= g.label 'Begin date' %>
                        <div class="row">
                          <div class="col-sm-4">
                            <%= g.number_field :begin_year, class: 'form-control year',
                                               min: 1, max: Time.now.year, maxlength: 4,
                                               placeholder: 'YYYY' %>
                          </div>
                          <div class="col-sm-4">
                            <%= g.number_field :begin_month, class: 'form-control month',
                                               min: 1, max: 12, maxlength: 2, placeholder: 'MM' %>
                            <span class="help-block">(optional)</span>
                          </div>
                          <div class="col-sm-4">
                            <%= g.number_field :begin_day, class: 'form-control day',
                                               min: 1, max: 31, maxlength: 2, placeholder: 'DD' %>
                            <span class="help-block">(optional)</span>
                          </div>
                        </div>
                      </div>
                      <div class="input-group end_date">
                        <%= g.label 'End date' %>
                        <div class="row">
                          <div class="col-sm-4">
                            <%= g.number_field :end_year, class: 'form-control year',
                                               min: 1, max: Time.now.year, maxlength: 4,
                                               placeholder: 'YYYY' %>
                          </div>
                          <div class="col-sm-4">
                            <%= g.number_field :end_month, class: 'form-control month',
                                               min: 1, max: 12, maxlength: 2, placeholder: 'MM' %>
                            <span class="help-block">(optional)</span>
                          </div>
                          <div class="col-sm-4">
                            <%= g.number_field :end_day, class: 'form-control day',
                                               min: 1, max: 31, maxlength: 2, placeholder: 'DD' %>
                            <span class="help-block">(optional)</span>
                          </div>
                        </div>
                      </div>
                      <div class="input-group date">
                        <%= g.label 'Date' %>
                        <div class="row">
                          <div class="col-sm-4">
                            <%= g.number_field :year, class: 'form-control year',
                                               min: 1, max: Time.now.year, maxlength: 4,
                                               placeholder: 'YYYY' %>
                          </div>
                          <div class="col-sm-4">
                            <%= g.number_field :month, class: 'form-control month',
                                               min: 1, max: 12, maxlength: 2, placeholder: 'MM' %>
                            <span class="help-block">(optional)</span>
                          </div>
                          <div class="col-sm-4">
                            <%= g.number_field :day, class: 'form-control day',
                                               min: 1, max: 31, maxlength: 2, placeholder: 'DD' %>
                            <span class="help-block">(optional)</span>
                          </div>
                        </div>
                      </div>
                      <button class="btn btn-default btn-sm remove" type="button">
                        <span class="glyphicon glyphicon-minus"></span>
                      </button>
                    </div>
                <% end %>

                <button class="btn btn-default btn-sm add" type="button">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </div>

              <div class="form-group">
                <%= f.label :language %>
                <button type="button" class="btn btn-default help" data-container="body"
                        data-toggle="popover" data-placement="right"
                        data-content="<p>Indicate the primary language of the resource. OPTIONAL.</p>

                  <p>The language of the institution carries down to resources by default, but this can be altered.</p>">
                  ?
                </button>
                <%= f.collection_select :language_id, Language.all, :id, :english_name,
                                        { include_blank: "That of Institution (#{@resource.location.repository.institution.language.english_name})" },
                                        { class: 'form-control' } %>
              </div>

              <div class="form-group addable_removable">
                <%= f.label :subjects, 'Subject(s)' %>
                <button type="button" class="btn btn-default help" data-container="body"
                        data-toggle="popover" data-placement="right"
                        data-content="<p>Topic(s) of the content of the resource. OPTIONAL.</p>

                  <p>Subjects are typically expressed as keywords, phrases, or classification
                  codes. Recommended best practice is to select values from a controlled
                  vocabulary or formal classification scheme (e.g. LC Subject Headings, Name
                  Authority File). You may also choose to include a term or name that is
                  especially relevant at your organization. Consistency is most crucial.</p>

                  <p>Examples:</p>
                  <ul>
                    <li>Dogs</li>
                    <li>Radio broadcasting</li>
                    <li>Sound on film</li>
                    <li>Tykociner, Joseph T. (Joseph Tykocinski), 1877-1969
                        <em>(Personal names may also be used as subjects)</em></li>
                    <li>Universities and colleges</li>
                  </ul>">
                  ?
                </button>

                <%= f.fields_for :subjects do |g| %>
                    <div class="addable_removable_input_group">
                      <div class="col-sm-11">
                        <%= g.text_field :name, class: 'form-control typeahead resource_subject' %>
                      </div>
                      <div class="col-sm-1">
                        <button class="btn btn-default remove" type="button">
                          <span class="glyphicon glyphicon-minus"></span>
                        </button>
                      </div>
                    </div>
                <% end %>

                <button class="btn btn-default btn-sm add" type="button">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </div>

              <div class="form-group addable_removable">
                <%= f.label :extents, 'Extent(s)' %>
                <button type="button" class="btn btn-default help" data-container="body"
                        data-toggle="popover" data-placement="right"
                        data-content="<p>Indicate the size (extent) and physical nature of
                  the resource. OPTIONAL.</p>

                  <p>Extent is composed of two parts: quantity and an expression of
                  extent (i.e. unit) or material type. Units of measurement will
                  depend upon the type of resource (item, collection) and its format
                  type.</p>

                  <p>Examples:</p>
                  <ul>
                    <li>1 photograph</li>
                    <li>3 boxes (72 discs, 140 sheets)</li>
                    <li>12 linear feet</li>
                    <li>1 blueprint</li>
                    <li>78 folders</li>
                  </ul>">
                  ?
                </button>

                <%= f.fields_for :extents do |g| %>
                    <div class="addable_removable_input_group">
                      <div class="col-sm-11">
                        <%= g.text_field :name, class: 'form-control' %>
                      </div>
                      <div class="col-sm-1">
                        <button class="btn btn-default remove" type="button">
                          <span class="glyphicon glyphicon-minus"></span>
                        </button>
                      </div>
                    </div>
                <% end %>

                <button class="btn btn-default btn-sm add" type="button">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </div>

              <div class="form-group">
                <%= f.label :rights %>
                <button type="button" class="btn btn-default help" data-container="body"
                        data-toggle="popover" data-placement="right"
                        data-content="<p>Document information about rights held in and
                  over this resource. OPTIONAL.</p>

                  <p>Include a rights management statement, or reference to another
                  document with such information. This will often comprise
                  Intellectual Property Rights (IPR), Copyright, and Property Rights.
                  If rights are not addressed, no assumptions can be made about
                  permissions and restrictions with respect to the resource.</p>">
                  ?
                </button>
                <%= f.text_area :rights, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :description %>
                <button type="button" class="btn btn-default help" data-container="body"
                        data-toggle="popover" data-placement="right"
                        data-content="<p>Describe the content of the resource. OPTIONAL.</p>

                  <p>Description may include but is not limited to: an abstract,
                  table of contents, reference to further documentation of the
                  resource’s content.</p>">
                  ?
                </button>
                <%= f.text_area :description, class: 'form-control' %>
              </div>

              <div class="form-group addable_removable">
                <%= f.label :resource_notes, 'Note(s)' %>
                <button type="button" class="btn btn-default help" data-container="body"
                        data-toggle="popover" data-placement="right"
                        data-content="<p>Enter any additional notes about the resource
                  that you would like to store here. OPTIONAL.</p>">
                  ?
                </button>

                <%= f.fields_for :resource_notes do |g| %>
                    <div class="addable_removable_input_group">
                      <%= g.text_area :value, class: 'form-control' %>
                      <button class="btn btn-default remove" type="button">
                        <span class="glyphicon glyphicon-minus"></span>
                      </button>
                    </div>
                <% end %>

                <button class="btn btn-default btn-sm add" type="button">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </div>
          </div>
        </div>
      </div>
    </div>

<% end %>
