<% # Similar to resource_tree_rows. Used in the move panel.
name_length = 150
%>

<% entities.each do |entity| %>
  <% if entity.kind_of?(Repository) %>
    <tr>
      <td></td>
      <td class="depth-0">
        <%= entity_icon(entity) %>
        <%= truncate(entity.name, length: name_length) %>
      </td>
    </tr>
    <%= render partial: 'resources/move_tree_rows',
               locals: { entities: entity.locations,
                         exclude_resource: exclude_resource,
                         depth: 1 } %>
  <% elsif entity.kind_of?(Location) %>
    <% active = (exclude_resource and entity == exclude_resource.location and
            !exclude_resource.parent) %>
    <tr class="<%= active ? 'bg-info' : '' %>">
      <td>
        <input type="radio" name="resource[parent_id]" value=""
               data-location-id="<%= entity.id %>">
      </td>
      <td class="depth-1">
        <%= raw('&#8627; ') %>
        <%= entity_icon(entity) %>
        <%= truncate(entity.name, length: name_length) %>
        <%= active ? '(current container)' : '' %>
      </td>
    </tr>
    <%= render partial: 'resources/move_tree_rows',
               locals: { entities: entity.resources.
                       where(resource_type: Resource::Type::COLLECTION, parent_id: nil).
                       where('id NOT IN (?)', exclude_resource.id),
                         exclude_resource: exclude_resource,
                         depth: 2 } %>
  <% elsif entity.kind_of?(Resource) %>
    <% active = (exclude_resource and entity.parent == exclude_resource) %>
    <tr class="<%= active ? 'bg-info' : '' %>">
      <td>
        <input type="radio" name="resource[parent_id]" value="<%= entity.id %>"
               data-location-id="<%= entity.location.id %>">
      </td>
      <td class="depth-<%= depth %>">
        <%= raw('&#8627; ') %>
        <%= entity_icon(entity) %>
        <%= truncate(entity.name, length: name_length) %>
        <%= active ? '(current container)' : '' %>
      </td>
    </tr>
    <%= render partial: 'resources/move_tree_rows',
               locals: { entities: entity.children.
                       where(resource_type: Resource::Type::COLLECTION).
                       where('id NOT IN (?)', exclude_resource.id),
                         exclude_resource: exclude_resource,
                         depth: depth + 1 } %>
  <% end %>
<% end %>
