<% resources.each do |resource| %>
    <tr>
      <td>
        <%= link_to 'Assess', edit_resource_path(resource) %>
      </td>
      <td class="depth-<%= depth %>">
        <%= depth > 0 ? raw('&#8627; ') : '' %><%= link_to resource.name, resource %>
      </td>
      <td><%= resource.readable_resource_type %></td>
      <td><%= number_to_human resource.assessment_percent_complete * 100 %>%</td>
    </tr>
    <%= render partial: 'resources/resource_tree_rows',
               locals: { resources: resource.children.order(:name), depth: depth + 1 } if resource.children.any? %>
<% end %>
