<% children.each do |child| %>
    <tr>
      <td>
        <%= link_to 'Edit', edit_resource_path(child) %>
      </td>
      <td class="depth-<%= depth %>">
        &#8627; <%= link_to child.name, child %>
      </td>
      <td><%= child.readable_resource_type %></td>
      <td class="center"><%= number_to_human child.assessment.percent_complete %>%</td>
    </tr>
    <%= render partial: 'resources/resource_tree_rows',
               locals: {children: child.children.order(:name), depth: depth + 1} if child.children.any? %>
<% end %>
