<table class="table table-striped">
  <thead>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Type</th>
    <th>Complete</th>
  </tr>
  </thead>
  <tbody>
  <% @resources.each do |resource| %>
      <% # TODO: replace this with resources/resource_tree_rows partial %>
      <tr>
        <td>
          <%= link_to 'Assess', edit_resource_path(resource) %>
        </td>
        <td><%= link_to resource.name, resource %></td>
        <td><%= resource.readable_resource_type %></td>
        <td><%= number_to_human resource.assessment_percent_complete * 100 %>%</td>
      </tr>
      <%= render partial: 'resources/resource_tree_rows',
                 locals: {children: resource.children.order(:name), depth: 1} if resource.children.any? %>
  <% end %>
  </tbody>
</table>
