<div id="<%= section.name.gsub(' ', '_') %>" class="tab-pane">
  <h2><%= section.name %></h2>
  <p><%= section.description %></p>
  <%= form_for @resource, remote: true do |f| %>
      <%= render partial: 'shared/question_tree_rows',
                 locals: {f: f,
                          entity: @resource,
                          children: section.assessment_questions.where(parent_id: nil).order(:index),
                          depth: 0} %>
  <% end %>
</div>
