<% provide(:title, "Edit #{@resource.name}") %>
<% provide(:body_id, 'edit_resource') %>

<ol class="breadcrumb">
  <% if current_user.is_admin? %>
    <li><%= link_to 'Institutions', institutions_path %></li>
  <% end %>
  <li>
    <%= link_to @resource.location.repository.institution.name,
                polymorphic_path(@resource.location.repository.institution) %>
  </li>
  <li>
    <%= link_to @resource.location.repository.name,
                polymorphic_path(@resource.location.repository) %>
  </li>
  <li>
    <%= link_to @resource.location.name,
                polymorphic_path(@resource.location) %>
  </li>
  <li><%= link_to truncate(@resource.name, length: 50), polymorphic_path(@resource) %></li>
  <li class="active">Edit</li>
</ol>

<h1>Edit <%= @resource.readable_resource_type %>: <%= @resource.name %></h1>

<%= form_for(@resource, html: { class: 'psap-assessment' }) do |f| %>

  <%= render partial: 'edit_form', locals: { f: f } %>

  <%= hidden_field_tag('root-url', root_url) %>
  <% # read by JS to select the relevant inputs %>
  <%= hidden_field_tag('selected_format_class',
                       @resource.format ? @resource.format.format_class : '') %>
  <%= hidden_field_tag('selected_format_ink_media_type_id',
                       @resource.format_ink_media_type ? @resource.format_ink_media_type.id : '') %>
  <%= hidden_field_tag('selected_format_support_type_id',
                       @resource.format_support_type ? @resource.format_support_type.id : '') %>

  <% format = @resource.format
  while format do %>
    <%= hidden_field_tag('selected_format_ids', format.id) %>
    <%= hidden_field_tag('selected_format_fids', format.fid) %>
    <% format = format.parent
  end %>

  <%= hidden_field_tag('formats_json', Format.all.to_json) %>
  <%= hidden_field_tag('format_ink_media_types_json', FormatInkMediaType.all.to_json) %>
  <%= hidden_field_tag('format_support_types_json', FormatSupportType.all.to_json) %>

  <%= submit_tag('Edit Resource', class: 'btn btn-primary') %>
<% end %>
