<% provide(:title, 'Import a Resource') %>
<% provide(:body_id, 'import_resource') %>

<ol class="breadcrumb">
  <% if current_user.is_admin? %>
      <li><%= link_to 'Institutions', institutions_path %></li>
  <% end %>
  <li>
    <%= link_to @location.repository.institution.name,
                polymorphic_path(@location.repository.institution) %>
  </li>
  <li>
    <%= link_to @location.repository.name,
                polymorphic_path(@location.repository) %>
  </li>
  <li>
    <%= link_to @location.name, polymorphic_path(@location) %>
  </li>
  <li class="active">Import an ArchivesSpace Resource</li>
</ol>

<h1>Import an ArchivesSpace Resource</h1>

<%= form_for(@import, url: location_resource_import_post_path) do |f| %>

    <%= render 'shared/error_messages', :object => f.object %>

    <div class="form-group">
      <%= f.label :host, 'ArchivesSpace Host' %>
      <%= f.text_field :host, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :port, 'ArchivesSpace Port' %>
      <%= f.number_field :port, min: 0, max: 65536, maxlength: 5,
                         class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :username, 'ArchivesSpace Username' %>
      <%= f.text_field :username, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password, 'ArchivesSpace Password' %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :resource_id, 'ArchivesSpace Resource ID' %>
      <%= f.text_field :resource_id, class: 'form-control' %>
    </div>

    <%= f.submit 'Import', class: 'btn btn-primary' %>

<% end %>
