<% provide(:title, 'Resources') %>

<% if @location %>
    <ol class="breadcrumb">
      <% if current_user.is_admin? %>
          <li><%= link_to 'Institutions', institutions_path %></li>
      <% end %>
      <li>
        <%= link_to @location.repository.institution.name,
                    polymorphic_path(@location.repository.institution) %>
      </li>
      <li>
        <%= link_to @location.repository.name,
                    polymorphic_path(@location.repository) %>
      </li>
      <li>
        <%= link_to @location.name,
                    polymorphic_path(@location) %>
      </li>
      <li class="active">Resources</li>
    </ol>
<% end %>

<h1>Resources</h1>

<% if @resources.any? %>
    <%= will_paginate %>

    <table class="table table-striped table-hover">
      <tr>
        <th></th>
        <th></th>
        <th>Name</th>
        <th>Type</th>
        <th>Repository</th>
        <th>Location</th>
      </tr>
      <% @resources.each do |resource| %>
          <tr>
            <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
            <td><%= link_to 'Delete', resource, method: :delete,
                            data: { confirm: 'Are you sure?' } %></td>
            <td><%= link_to resource.name, resource %></td>
            <td><%= resource.readable_resource_type %></td>
            <td><%= resource.location.repository.name %></td>
            <td><%= resource.location.name %></td>
          </tr>
      <% end %>
    </table>

    <%= will_paginate %>
<% else %>
    <p>There are no resources.</p>
<% end %>

<p><%= link_to 'New Resource', new_location_resource_path(@location) %></p>
