<% provide(:title, 'Assess a Resource') %>
<% provide(:body_id, 'new_resource') %>

<ol class="breadcrumb">
  <% if current_user.is_admin? %>
      <li><%= link_to 'Institutions', institutions_path %></li>
  <% end %>
  <li>
    <%= link_to @resource.location.repository.institution.name,
                polymorphic_path(@resource.location.repository.institution) %>
  </li>
  <li>
    <%= link_to @resource.location.repository.name,
                polymorphic_path(@resource.location.repository) %>
  </li>
  <li>
    <%= link_to @resource.location.name,
                polymorphic_path(@resource.location) %>
  </li>
  <li class="active">Assess a Resource</li>
</ol>

<div class="row">
  <div class="col-md-8">
    <h1>Assess a Resource</h1>
  </div>
  <div class="col-md-4">
    <div class="btn-group" style="float:right">
      <!-- Save -->
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-cloud"></span> Save
      </button>
    </div>
  </div>
</div>

<div class="row" id="assessment">

  <!-- left column menu -->
  <div class="col-md-3">
    <nav>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#general">General</a></li>
        <% @assessment_sections.each do |section| %>
            <li><a href="#<%= section.name.gsub(' ', '_') %>"><%= section.name %></a></li>
        <% end %>
      </ul>
    </nav>

    <section>
      <div class="center">
        <h4>Score</h4>
        <div class="progress">
          <div class="progress-bar progress-bar-warning" role="progressbar"
               aria-valuenow="0" aria-valuemin="0" aria-valuemax="1"
               style="width: 40%">
            <span class="sr-only"></span>
          </div>
        </div>
      </div>
      <div class="center">
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </section>
  </div>

  <div class="col-md-9 tab-content">

    <div id="general" class="tab-pane active">
      <h2>General</h2>
      <%= form_for(@resource, url: location_resources_path(@location)) do |f| %>
          <%= render 'general_form', :f => f %>
      <% end %>
    </div>

    <% @assessment_sections.each do |section| %>
        <div id="<%= section.name.gsub(' ', '_') %>" class="tab-pane">
          <h2><%= section.name %></h2>
          <p><%= section.description %></p>
          <%= render partial: 'resources/question_tree_rows',
                     locals: {children: section.assessment_questions.where(parent_id: nil).order(:index), depth: 0} %>
        </div>
    <% end %>

  </div>

</div>
