<% provide(:title, 'Assess a Resource') %>
<% provide(:body_id, 'new_resource') %>

<input type="hidden" name="root-url" value="<%= root_url %>">

<ol class="breadcrumb">
  <% if current_user.is_admin? %>
      <li><%= link_to 'Institutions', institutions_path %></li>
  <% end %>
  <li>
    <%= link_to @resource.location.repository.institution.name,
                polymorphic_path(@resource.location.repository.institution) %>
  </li>
  <li>
    <%= link_to @resource.location.repository.name,
                polymorphic_path(@resource.location.repository) %>
  </li>
  <li>
    <%= link_to @resource.location.name,
                polymorphic_path(@resource.location) %>
  </li>
  <li class="active">Assess a Resource</li>
</ol>

<div class="row">
  <div class="col-sm-7">
    <% if @resource.parent %>
        <h1>Assess a Sub-Resource <small>of <%= @resource.parent.name %></small></h1>
    <% else %>
        <h1>Assess a Resource <small>in <%= @resource.location.name %></small></h1>
    <% end %>
  </div>
  <div class="col-sm-5">
    <span class="question_response_count">
      <%= @resource.assessment_question_response_count %></span> of
      <%= @assessment_sections[0].assessment.question_count %> questions complete
    <div class="btn-group" style="float:right">
      <!-- Save -->
      <button type="button" class="btn btn-default save">
        <span class="glyphicon glyphicon-cloud"></span> Save
      </button>
    </div>
  </div>
</div>

<div class="row" id="assessment">

  <!-- left column menu -->
  <div class="col-sm-3">
    <%= render partial: 'assessment_sections',
               locals: { assessment_sections: @assessment_sections } %>
  </div>

  <div class="col-sm-9 tab-content">

    <div id="basic_info" class="tab-pane active">
      <%= render 'basic_info_form', form_url: location_resources_path(@location) %>
    </div>

    <% @assessment_sections.each do |section| %>
        <%= render 'section_form', section: section %>
    <% end %>

  </div>
</div>
