<% provide(:title, 'New Resource') %>
<% provide(:body_id, 'new_resource') %>

<ol class="breadcrumb">
  <% if current_user.is_admin? %>
      <li><%= link_to 'Institutions', institutions_path %></li>
  <% end %>
  <li>
    <%= link_to @resource.location.repository.institution.name,
                polymorphic_path(@resource.location.repository.institution) %>
  </li>
  <li>
    <%= link_to @resource.location.repository.name,
                polymorphic_path(@resource.location.repository) %>
  </li>
  <li>
    <%= link_to @resource.location.name,
                polymorphic_path(@resource.location) %>
  </li>
  <li class="active">New Resource</li>
</ol>

<% if @resource.parent %>
  <h1>New Sub-Resource <small>of
    <%= entity_icon(@resource.parent) %><%= @resource.parent.name %></small></h1>
<% else %>
  <h1>New Resource <small>in
    <%= entity_icon(@resource.location) %><%= @resource.location.name %></small></h1>
<% end %>

<%= form_for(@resource, class: 'psap-assessment',
             url: location_resources_path(@resource.location)) do |f| %>

  <%= render partial: 'edit_form', locals: { f: f } %>

  <%= hidden_field_tag('root-url', root_url) %>
  <%= hidden_field_tag('formats_json', Format.all.to_json) %>
  <%= hidden_field_tag('format_ink_media_types_json', FormatInkMediaType.all.to_json) %>
  <%= hidden_field_tag('format_support_types_json', FormatSupportType.all.to_json) %>

  <%= submit_tag('Create Resource', class: 'btn btn-primary') %>
<% end %>
