<% provide(:title, @resource.name) %>
<% provide(:body_id, 'show_resource') %>

<%= hidden_field_tag(:resource_url, resource_url(@resource)) %>
<%= hidden_field_tag(:institution_url,
                     institution_url(@resource.location.repository.institution)) %>
<%= hidden_field_tag(:new_resource_url, new_location_resource_url(@resource.location)) %>
<%= hidden_field_tag(:root_url, root_url) %>

<div id="psap-resource-page-content">
  <%= render partial: 'show' %>
</div>

<%= render partial: 'shared/export_panel' %>

<%= render partial: 'resources/import_from_archivesspace',
           locals: { form_action: resource_import_post_path(@resource) } %>

<%= render partial: 'shared/edit_panel',
           locals: { action: :edit, entity_name: 'Resource' } %>

<%= render partial: 'shared/edit_panel',
           locals: { action: :create, entity_name: 'Resource' } %>

<%= render partial: 'shared/edit_panel',
           locals: { action: :assess, entity_name: 'Resource' } %>
