<% provide(:title, @resource.name) %>

<ol class="breadcrumb">
  <% if current_user.is_admin? %>
      <li><%= link_to 'Institutions', institutions_path %></li>
  <% end %>
  <li>
    <%= link_to @resource.location.repository.institution.name,
                polymorphic_path(@resource.location.repository.institution) %>
  </li>
  <li>
    <%= link_to @resource.location.repository.name,
                polymorphic_path(@resource.location.repository) %>
  </li>
  <li>
    <%= link_to @resource.location.name,
                polymorphic_path(@resource.location) %>
  </li>
  <li class="active"><%= @resource.name %></li>
</ol>

<div class="row">
  <div class="col-md-8">
    <h1><%= @resource.name %></h1>
  </div>
  <div class="col-md-4">
    <div class="btn-group" style="float:right">
      <!-- Edit -->
      <%= link_to edit_resource_path(@resource), class: 'btn btn-default btn-default' do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-pencil') %>
          Edit
      <% end %>
      <!-- Export -->
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="glyphicon glyphicon-save"></span> Export
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Text (CSV)</a></li>
          <li><a href="#">XML</a></li>
        </ul>
      </div>
      <!-- Delete -->
      <%= link_to resource_path(@resource), method: 'delete',
                  class: 'btn btn-default',
                  data: { confirm: 'Are you sure you want to delete this '\
                          'resource assessment?' } do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-trash') %>
          Delete
      <% end %>
    </div>
  </div>
</div>

<ul class="nav nav-tabs">
  <li class="active">
    <a href="#info" data-toggle="tab">Info</a>
  </li>
  <li>
    <a href="#sub_resources" data-toggle="tab">Sub-Resources</a>
  </li>
  <li>
    <a href="#assessment" data-toggle="tab">Assessment</a>
  </li>
</ul>

<div class="tab-content">

  <div id="info" class="tab-pane active">
    <dl>
      <% if @resource.format %>
          <dt>Format</dt>
          <dd><%= @resource.format.name %></dd>
      <% end %>
      <dt>Created</dt>
      <dd><%= local_time_ago(@resource.created_at) %></dd>
      <dt>Last Updated</dt>
      <dd><%= local_time_ago(@resource.updated_at) %></dd>
    </dl>
  </div>

  <div id="sub_resources" class="tab-pane">
    <% if @resource.resource_type == ResourceType::COLLECTION &&
            @resource.children.any? %>
        <table class="table table-striped table-hover">
          <caption>Contents</caption>
          <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Title</th>
            <th>Type</th>
          </tr>
          </thead>
          <tbody>
          <% @resource.children.order(:name).each do |child| %>
              <tr>
                <td>
                  <%= link_to 'Edit', edit_resource_path(child) %>
                </td>
                <td>
                  <%= link_to 'Delete', child, method: :delete,
                              data: { confirm: 'Are you sure?' } %>
                </td>
                <td><%= link_to child.name, child %></td>
                <td><%= child.readable_resource_type %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% end %>
  </div>

  <div id="assessment" class="tab-pane">
  </div>

</div>
