<% provide(:title, @resource.name) %>
<% provide(:body_id, 'show_resource') %>

<% breadcrumbs = []
   breadcrumbs << { 'Institutions' => institutions_path } if current_user.is_admin?
   breadcrumbs << { @resource.location.repository.institution.name =>
                            @resource.location.repository.institution }
   breadcrumbs << { @resource.location.repository.name =>
                            @resource.location.repository }
   breadcrumbs << { @resource.location.name => @resource.location }
   breadcrumbs << @resource.name
%>
<%= breadcrumbs(breadcrumbs) %>

<div id="psap-resource-page-content">
  <%= render partial: 'show' %>
</div>

<%= render partial: 'resources/import_from_archivesspace',
           locals: { form_action: resource_import_post_path(@resource) } %>

<%= render partial: 'shared/export_panel' %>

<div class="modal fade" id="psap-edit-panel" data-backdrop="static"
     data-keyboard="false" tabindex="-1" role="dialog"
     aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="editModalLabel">Edit Resource</h4>
      </div>
      <div class="modal-body" id="psap-edit-form-container">
        <%= render partial: 'edit_form' %>
      </div>
    </div>
  </div>
</div>
