<% provide(:title, @resource.name) %>
<% provide(:body_id, 'show_resource') %>

<ol class="breadcrumb">
  <% if current_user.is_admin? %>
      <li><%= link_to 'Institutions', institutions_path %></li>
  <% end %>
  <li>
    <%= link_to @resource.location.repository.institution.name,
                polymorphic_path(@resource.location.repository.institution) %>
  </li>
  <li>
    <%= link_to @resource.location.repository.name,
                polymorphic_path(@resource.location.repository) %>
  </li>
  <li>
    <%= link_to @resource.location.name,
                polymorphic_path(@resource.location) %>
  </li>
  <li class="active"><%= @resource.name %></li>
</ol>

<div class="row">
  <div class="col-md-8">
    <h1><%= @resource.name %> <small>Resource</small></h1>
  </div>
  <div class="col-md-4">
    <div class="btn-group" style="float:right">
      <!-- Export -->
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="glyphicon glyphicon-save"></span> Export
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to 'Text (CSV)', resource_path(@resource) + '.csv',
                          target: '_blank' %></li>
          <li><%= link_to 'XML (EAD)', resource_path(@resource) + '.xml',
                          target: '_blank' %></li>
        </ul>
      </div>
      <!-- Edit -->
      <%= link_to edit_resource_path(@resource), class: 'btn btn-default btn-default' do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-pencil') %>
          Assess
      <% end %>
      <!-- Delete -->
      <%= link_to resource_path(@resource), method: 'delete',
                  class: 'btn btn-default',
                  data: { confirm: 'Are you sure you want to delete this '\
                          'resource assessment?' } do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-trash') %>
          Delete
      <% end %>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-8">

    <ul class="nav nav-tabs">
      <% if @resource.children.any? %>
          <li class="active">
            <a href="#sub_resources" data-toggle="tab">Sub-Resources</a>
          </li>
      <% end %>
      <li <%= @resource.children.any? ? '' : 'class=active' %>>
        <a href="#assessment" data-toggle="tab">Assessment</a>
      </li>
    </ul>

    <div class="tab-content">

      <% if @resource.children.any? %>
          <div id="sub_resources" class="tab-pane active">
            <%= render partial: 'resources/resources', locals: { resources: @resource.children } %>
          </div>
      <% end %>

      <% if @resource.assessment_percent_complete < 1 %>
          <div class="assessment incomplete tab-pane <%= @resource.children.any? ? '' : 'active' %>">

            <h3><%= number_to_human @resource.assessment_percent_complete * 100 %>% complete</h3>

            <div class="progress">
              <div class="progress-bar" role="progressbar"
                   aria-valuenow="<%= @resource.assessment_percent_complete %>"
                   aria-valuemin="0" aria-valuemax="1"
                   style="width:<%= @resource.assessment_percent_complete * 100 %>%;">
              <span class="sr-only">
                <%= number_to_human @resource.assessment_percent_complete * 100 %>% Complete</span>
              </div>
            </div>

            <p><%= link_to 'Continue', edit_resource_path(@resource),
                           class: 'btn btn-default btn-lg' %></p>
          </div>
      <% else %>
          <div class="assessment complete tab-pane <%= @resource.children.any? ? '' : 'active' %>">
            <% i = 0; @assessment_sections.each do |section| # TODO: sub-questions %>

                <% if i != 0 %>
                    <hr>
                <% end %>

                <h3><%= section.name %></h3>

                <dl>
                <% section.assessment_questions.order(:index).each do |question| %>
                    <dt><%= question.name %></dt>

                    <% response = @resource.assessment_question_responses.where(assessment_question_id: question.id).first %>

                    <dd>
                      <ul>
                      <% question.assessment_question_options.each do |option| %>
                          <li <%= option.id == response.assessment_question_option.id ? 'class=selected' : '' %>>
                            <%= option.name %>
                          </li>
                      <% end %>
                      </ul>
                    </dd>
                <% end %>
                </dl>
            <% i += 1; end %>

            <% @resource.assessment_question_responses.each do |response| %>
            <% end %>
          </div>
      <% end %>
    </div> <!-- .tab-content -->

  </div> <!-- .col-md-8 -->

  <div class="col-md-4 panel">
    <dl>
      <% if @resource.parent %>
          <dt>Parent Collection</dt>
          <dd><%= link_to @resource.parent.name, @resource.parent %></dd>
      <% end %>
      <% if @resource.format %>
          <dt>Format</dt>
          <dd><%= @resource.format.name %></dd>
      <% end %>
      <dt>Description</dt>
      <dd><%= @resource.description ? @resource.description : '(None)' %></dd>
      <% if @resource.notes %>
          <dt>Notes</dt>
          <dd><%= @resource.notes %></dd>
      <% end %>
      <dt>Local Identifier</dt>
      <dd><%= @resource.local_identifier ? @resource.local_identifier : '(None)' %></dd>
      <% if @resource.creators.any? %>
          <dt><%= @resource.creators.length == 1 ? 'Creator' : 'Creators' %></dt>
          <dd>
            <% if @resource.creators.length == 1 %>
                <%= @resource.creators.first.name %>
            <% else %>
                <ul>
                  <% for creator in @resource.creators %>
                      <li><%= creator.name %></li>
                  <% end %>
                </ul>
            <% end %>
          </dd>
      <% end %>
      <% if @resource.resource_dates.any? %>
          <dt><%= @resource.resource_dates.length == 1 ? 'Date' : 'Dates' %></dt>
          <dd>
            <% if @resource.resource_dates.length == 1 %>
                <%= human_readable_date(@resource.resource_dates[0]) %>
            <% else %>
                <ul>
                  <% for date in @resource.resource_dates %>
                    <li><%= human_readable_date(date) %></li>
                  <% end %>
                </ul>
            <% end %>
          </dd>
      <% end %>
      <% if @resource.subjects.any? %>
          <dt><%= @resource.subjects.length == 1 ? 'Subject' : 'Subjects' %></dt>
          <dd>
            <% if @resource.subjects.length == 1 %>
                <%= @resource.subjects.first.name %>
            <% else %>
                <ul>
                  <% for subject in @resource.subjects %>
                      <li><%= subject.name %></li>
                  <% end %>
                </ul>
            <% end %>
          </dd>
      <% end %>
      <% if @resource.extents.any? %>
          <dt><%= @resource.extents.length == 1 ? 'Extent' : 'Extents' %></dt>
          <dd>
            <% if @resource.extents.length == 1 %>
                <%= @resource.extents.first.name %>
            <% else %>
                <ul>
                  <% for extent in @resource.extents %>
                      <li><%= extent.name %></li>
                  <% end %>
                </ul>
            <% end %>
          </dd>
      <% end %>
      <dt>Created</dt>
      <dd><%= local_time_ago(@resource.created_at) %> by
        <%= link_to @resource.user.full_name, @resource.user %></dd>
      <dt>Last Updated</dt>
      <dd><%= local_time_ago(@resource.updated_at) %></dd>
    </dl>

  </div> <!-- .col-md-8 -->

</div> <!-- .row -->
