<% provide(:title, @resource.name) %>
<% provide(:body_id, 'show_resource') %>

<%= hidden_field_tag(:resource_url, resource_url(@resource)) %>
<%= hidden_field_tag(:institution_url,
                     institution_url(@resource.location.repository.institution)) %>
<%= hidden_field_tag(:new_resource_url, new_location_resource_url(@resource.location, parent_id: @resource.id)) %>
<%= hidden_field_tag(:root_url, root_url) %>

<div id="psap-resource-page-content">
  <%= render partial: 'show' %>
</div>

<%= render partial: 'shared/export_panel' %>

<%= render partial: 'resources/import_from_archivesspace',
           locals: { form_action: resource_import_post_path(@resource) } %>

<%= render partial: 'shared/edit_panel',
           locals: { action: :edit, entity_name: 'Resource' } %>

<%= render partial: 'shared/edit_panel',
           locals: { action: :create, entity_name: 'Resource' } %>

<%= render partial: 'shared/edit_panel',
           locals: { action: :assess, entity_name: 'Resource' } %>

<div class="modal fade psap-edit-panel psap-inner-scrolling"
     id="psap-move-panel" data-backdrop="true" data-keyboard="true"
     tabindex="-1" role="dialog" aria-labelledby="moveModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for(@resource) do %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="moveModalLabel">Move Resource</h4>
        </div>
        <div class="modal-body">
          <p>Select a containing collection, or location if moving to the top level.
            The resource will be moved intact with all of its children, if any.</p>
          <% # updated via js %>
          <input type="hidden" name="resource[location_id]" value="">
          <table class="table psap-entity-list">
            <tbody>
              <%= render partial: 'move_tree_rows',
                         locals: { entities: @resource.location.repository.institution.repositories,
                                   exclude_resource: @resource,
                                   depth: 0 } %>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <input type="submit" class="btn btn-primary" value="Move Resource">
        </div>
      <% end %>
    </div>
  </div>
</div>
