<% provide(:title, "Edit #{@location.name}") %>
<% provide(:body_id, 'edit_location') %>

<input type="hidden" name="root-url" value="<%= root_url %>">

<ol class="breadcrumb">
  <% if current_user.is_admin? %>
    <li><%= link_to 'Institutions', institutions_path %></li>
  <% end %>
  <li>
    <%= link_to @location.repository.institution.name,
                polymorphic_path(@location.repository.institution) %>
  </li>
  <li>
    <%= link_to @location.repository.name,
                polymorphic_path(@location.repository) %>
  </li>
  <li><%= link_to @location.name, polymorphic_path(@location) %></li>
  <li class="active">Edit</li>
</ol>

<div class="psap-page-title">
  <h1>Edit Location: <%= @location.name %></h1>
</div>

<%= form_for(@location, html: { class: 'psap-assessment' }) do |f| %>
  <div id="basic_info" class="section">
    <%= render partial: 'basic_info_form', locals: { f: f } %>
    <%= f.submit 'Edit Location', class: 'btn btn-primary' %>
  </div>
<% end %>
