<% provide(:title, "Edit #{@location.name}") %>

<h1>Edit <%= @location.name %></h1>


  <%= form_for(@location) do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
  <% end %>
