<% provide(:title, 'New Location') %>

<h1>New Location</h1>

<%= form_for(@location) do |f| %>
    <%= render 'shared/error_messages' %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <%= f.submit 'Create Location', class: 'btn btn-primary' %>
<% end %>
