<% provide(:title, @location.name) %>
<% provide(:body_id, 'show_location') %>

<%= hidden_field_tag(:root_url, root_url) %>
<%= hidden_field_tag(:institution_url, institution_url(@location.repository.institution)) %>
<%= hidden_field_tag(:location_url, location_url(@location)) %>
<%= hidden_field_tag(:new_resource_url, new_location_resource_url(@location)) %>

<div id="psap-location-page-content">
  <%= render partial: 'show' %>
</div>

<%= render partial: 'resources/import_from_archivesspace',
           locals: { form_action: location_resource_import_post_path(@location) } %>

<%= render partial: 'shared/edit_panel',
           locals: { action: :edit, entity_name: 'Location' } %>

<%= render partial: 'shared/edit_panel',
           locals: { action: :assess, entity_name: 'Location' } %>

<%= render partial: 'shared/edit_panel',
           locals: { action: :create, entity_name: 'Resource' } %>

<!-- Move Checked panel -->
<div class="modal fade" id="moveModal" tabindex="-1" role="dialog"
     aria-labelledby="moveModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="moveModalLabel">Move Resources</h4>
      </div>
      <div class="modal-body">
        <p>Select a location to move the checked resources into. If any
          collections are checked, any resources they contain will be
          moved along with them, even if they are not checked.</p>
        <ul>
          <% @location.repository.institution.repositories.order(:name).each do |repo| %>
            <% if repo.locations.any? %>
              <li><%= repo.name %>
                <% repo.locations.where('id != ?', @location.id).order(:name).each do |loc| %>
                  <ul>
                    <li><label><input type="radio" name="location_id" value="<%= loc.id %>">
                      <%= loc.name %></label></li>
                  </ul>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <input type="submit" class="btn btn-primary" value="Move Resources">
      </div>
    </div>
  </div>
</div>
