<% provide(:title, @location.name) %>

<ol class="breadcrumb">
  <% if current_user.is_admin? %>
      <li><%= link_to 'Institutions', institutions_path %></li>
  <% end %>
  <li>
    <%= link_to @location.repository.institution.name,
                polymorphic_path(@location.repository.institution) %>
  </li>
  <li>
    <%= link_to @location.repository.name,
                polymorphic_path(@location.repository) %>
  </li>
  <li class="active"><%= @location.name %></li>
</ol>

<div class="row">
  <div class="col-md-7">
    <h1><%= @location.name %></h1>
  </div>
  <div class="col-md-5" style="text-align:right">
    <div class="btn-group">
      <!-- Edit -->
      <%= link_to edit_location_path(@location), class: 'btn btn-default btn-default' do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-pencil') %>
          Edit
      <% end %>
      <!-- Assess a Resource -->
      <%= link_to new_location_resource_path(@location), class: 'btn btn-default' do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
          Assess a Resource
      <% end %>
      <!-- Delete -->
      <%= link_to location_path(@location), method: 'delete',
                  class: 'btn btn-default',
                  data: { confirm: 'Deleting this location will delete the '\
                  'assessments of all resources contained within it. Are '\
                  'you sure you want to delete this location?' } do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-trash') %>
          Delete
      <% end %>
    </div>
  </div>
</div>

<ul class="nav nav-tabs">
  <li class="active">
    <a href="#resources" data-toggle="tab">Resource Assessments</a>
  </li>
</ul>

<div class="tab-content">

  <div class="tab-pane active" id="resources">
    <% if @resources.any? %>
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Title</th>
            <th>Type</th>
            <th>Completed</th>
          </tr>
          </thead>
          <tbody>
          <% @resources.each do |resource| %>
              <tr>
                <td>
                  <%= link_to 'Edit', edit_resource_path(resource) %>
                </td>
                <td>
                  <%= link_to 'Delete', resource, method: :delete,
                              data: { confirm: 'Are you sure?' } %>
                </td>
                <td><%= link_to resource.name, resource %></td>
                <td><%= resource.readable_resource_type %></td>
                <td><!-- TODO: fill this in --></td>
              </tr>
              <%= render partial: 'resource_tree_rows',
                         locals: {children: resource.children, depth: 0} if resource.children.any? %>
          <% end %>
          </tbody>
        </table>
    <% else %>
        <p>There are no resources in this location.</p>
    <% end %>
  </div>

</div>