<% provide(:title, @location.name) %>

<ol class="breadcrumb">
  <% if current_user.is_admin? %>
      <li><%= link_to 'Institutions', institutions_path %></li>
  <% end %>
  <li>
    <%= link_to @location.repository.institution.name,
                polymorphic_path(@location.repository.institution) %>
  </li>
  <li>
    <%= link_to @location.repository.name,
                polymorphic_path(@location.repository) %>
  </li>
  <li class="active"><%= @location.name %></li>
</ol>

<h1><%= @location.name %></h1>

<% if @location.resources.any? %>
    <table class="table table-striped table-hover">
      <caption>Resources</caption>
      <thead>
        <th></th>
        <th></th>
        <th>Title</th>
        <th>Type</th>
      </thead>
      <tbody>
      <% @location.resources.each do |resource| %>
          <tr>
            <td>
              <% if current_user.has_permission?('resources.edit_own') %>
                  <%= link_to 'Edit', edit_resource_path(resource) %>
              <% end %>
            </td>
            <td>
              <% if current_user.has_permission?('resources.delete_own') %>
                  <%= link_to 'Delete', resource, method: :delete,
                              data: { confirm: 'Are you sure?' } %>
              <% end %>
            </td>
            <td><%= link_to resource.name, resource %></td>
            <td><%= resource.readable_resource_type %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <p>There are no resources in this location.</p>
<% end %>

<p><%= link_to 'Add resource', new_location_resource_path(@location) %></p>