<% provide(:title, @location.name) %>

<ol class="breadcrumb">
  <% if current_user.is_admin? %>
      <li><%= link_to 'Institutions', institutions_path %></li>
  <% end %>
  <li>
    <%= link_to @location.repository.institution.name,
                polymorphic_path(@location.repository.institution) %>
  </li>
  <li>
    <%= link_to @location.repository.name,
                polymorphic_path(@location.repository) %>
  </li>
  <li class="active"><%= @location.name %></li>
</ol>

<div class="row">
  <div class="col-sm-7">
    <h1><%= @location.name %> <small>Location</small></h1>
  </div>
  <div class="col-sm-5" style="text-align:right">
    <div class="btn-group">
      <!-- Edit -->
      <%= link_to edit_location_path(@location), class: 'btn btn-default btn-default' do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-pencil') %>
          Edit
      <% end %>
      <!-- Delete -->
      <%= link_to location_path(@location), method: 'delete',
                  class: 'btn btn-default',
                  data: { confirm: 'Deleting this location will also delete '\
                  'all resource assessments it contains. Are '\
                  'you sure you want to delete this location?' } do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-trash') %>
          Delete
      <% end %>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-sm-8">

    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#resources" data-toggle="tab">Resource Assessments</a>
      </li>
    </ul>

    <div class="tab-content">

      <div class="tab-pane active" id="resources">
        <div style="text-align:right">
          <!-- Assess a Resource button -->
          <%= link_to new_location_resource_path(@location), class: 'btn btn-default' do %>
              <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
              Assess a Resource
          <% end %>
        </div>

        <% if @resources.any? %>
            <%= render partial: 'resources/resources', locals: {resources: @resources} %>
        <% else %>
            <p>There are no resources in this location.</p>
        <% end %>
      </div>

    </div>

  </div> <!-- .col-sm-8 -->

  <div class="col-sm-4 panel">
    <% if @location.description %>
        <dl>
          <dt>Description</dt>
          <dd><%= @location.description %></dd>
        </dl>
    <% end %>
  </div>

</div> <!-- .row -->