<% provide(:title, @location.name) %>
<% provide(:body_id, 'show_location') %>

<%= hidden_field_tag(:root_url, root_url) %>
<%= hidden_field_tag(:institution_url, institution_url(@location.repository.institution)) %>
<%= hidden_field_tag(:location_url, location_url(@location)) %>
<%= hidden_field_tag(:new_resource_url, new_location_resource_url(@location)) %>

<div id="psap-location-page-content">
  <%= render partial: 'show' %>
</div>

<% # move checked panel is in the show partial %>

<%= render partial: 'resources/import_from_archivesspace',
           locals: { form_action: location_resource_import_post_path(@location) } %>

<%= render partial: 'shared/edit_panel',
           locals: { action: :edit, entity_name: 'Location' } %>

<%= render partial: 'shared/edit_panel',
           locals: { action: :assess, entity_name: 'Location' } %>

<%= render partial: 'shared/edit_panel',
           locals: { action: :create, entity_name: 'Resource' } %>
