<footer class="footer">

  <div class="row">
    <div class="col-sm-8">
      <%= link_to ('http://www.illinois.edu/') do %>
        <%= retina_image_tag('logo-imark-gray-60.png') %>
      <% end %>

      Preservation Self-Assessment Program
      <br>
      University of Illinois at Urbana-Champaign
      <br>
      <%= link_to 'About', about_path %>
    </div>

    <div class="col-sm-4">
      <%= link_to('http://www.imls.gov/', style: 'float: right') do %>
        <%= retina_image_tag('logo-imls-gray-60.png') %>
      <% end %>
    </div>
  </div>

</footer>
