<footer class="footer">

  <div class="row">
    <div class="col-sm-8">
      <%= link_to ('http://www.illinois.edu/') do %>
        <%= retina_image_tag('logo-imark-gray-60.png') %>
      <% end %>

      Preservation Self-Assessment Program
      <br>
      University of Illinois at Urbana-Champaign
      <br>
      <%= link_to 'About', about_path %> |
      <%= link_to 'mailto:nobody@example.org?subject=I found a bug in '\
        'the PSAP&body=Please enter a description of the bug, the URL of the '\
        'page on which it occurs, and instructions on how to reproduce it. Thanks!',
                  class: 'psap-report-bug' do %>
        Report a Bug
        <script type="text/javascript">
          var anchor = $('.psap-report-bug');
          var href = anchor.attr('href');
          var addr = 'psap';
          addr += '@library.illinois.edu';
          anchor.attr('href', href.replace('nobody@example.org', addr));
        </script>
      <% end %>
    </div>

    <div class="col-sm-4">
      <%= link_to('http://www.imls.gov/', style: 'float: right') do %>
        <%= retina_image_tag('logo-imls-gray-60.png') %>
      <% end %>
    </div>
  </div>

</footer>
