<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <% if signed_in? %>
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to 'Dashboard', dashboard_path %></li>
            <li><a href="">Format ID Guide</a></li>
            <li><%= link_to 'Glossary', glossary_path %></li>
            <li><%= link_to 'Bibliography', bibliography_path %></li>
          </ul>
      <% end %>

      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? %>
            <% if current_user.is_admin? %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Administration <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Manage Users', users_path %></li>
                    <li><a href="">Manage Database</a></li>
                    <li><%= link_to 'Event Log', events_path %></li>
                    <li><a href="">Global Search &amp; Replace</a></li>
                  </ul>
                </li>
            <% end %>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.username %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Profile', current_user %></li>
                <li><%= link_to 'Settings', edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to 'Sign out', logout_path, method: 'delete' %>
                </li>
              </ul>
            </li>

            <li id="help"><%= link_to 'Help', help_path, title: 'Help' %></li>
        <% else %>
            <li><%= link_to 'Sign in', login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
