<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">

  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown <%= 'active' if controller.controller_name == 'format_id_guide' %>">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
            Format ID Guide <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'All Formats', format_id_guide_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Audiovisual Media', format_id_guide_path(anchor: 'audiovisual') %></li>
            <li><%= link_to 'Paper & Book', format_id_guide_path(anchor: 'paper_book') %></li>
            <li><%= link_to 'Photo & Image Material', format_id_guide_path(anchor: 'photo_image') %></li>
            <li><%= link_to 'Supplementary', format_id_guide_path(anchor: 'supplementary') %></li>
          </ul>
        </li>
        <li <%= 'class=active' if current_page?(glossary_path) %>>
          <%= link_to 'Glossary', glossary_path, class: 'nav-link' %>
        </li>
        <li <%= 'class=active' if current_page?(bibliography_path) %>>
          <%= link_to 'Bibliography', bibliography_path, class: 'nav-link' %>
        </li>
      </ul>

    </div>
  </div>
</nav>
