<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!--
    <a href="">Format ID Guide</a>
    | <a href="">Glossary</a> -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Tools <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="">Dashboard</a></li>
                <li><a href="">Format ID Guide</a></li>
                <li><a href="">Glossary</a></li>
                <li><a href="">Bibliography</a></li>
              </ul>
            </li>

            <% if current_user.is_admin? %>
                <li id="fat-menu" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Administration <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="">Manage Users</a></li>
                    <li><a href="">Manage Database</a></li>
                    <li><a href="">Modification Log</a></li>
                    <li><a href="">Global Search &amp; Replace</a></li>
                  </ul>
                </li>
            <% end %>

            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.username %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Profile', current_user %></li>
                <li><%= link_to 'Settings', edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to 'Sign out', logout_path, method: 'delete' %>
                </li>
              </ul>
            </li>

            <li><%= link_to 'Help', help_path %></li>
        <% else %>
            <li><%= link_to 'Sign in', login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
