<!DOCTYPE html>
<html>
<head>
  <title>Preservation Self-Assessment Program (PSAP) | <%= yield(:title) %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all',
                          'data-turbolinks-track' => true %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body <%= !yield(:body_id).empty? ? raw("id=\"#{yield(:body_id)}\"") : nil %>>

<%= render 'layouts/header' %>

<div id="modal_progress_view">
    <%= image_tag('progress_indicator.gif', size: '64x64', alt: 'Loading') %>
</div>

<div class="container-fluid">
  <header class="page-header">
    <%= link_to image_tag('psap_logo.png', size:'156x70', alt:'PSAP logo',
                          id:'title_logo', 'data-has-retina' => true), root_path %>

    <h1>
      <small><%= link_to 'Preservation Self-Assessment Program', root_path %></small>
    </h1>

    <% if signed_in? && current_user.institution %>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-sm dropdown-toggle"
                  data-toggle="dropdown">
            <%= current_user.institution.name %> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to 'Overview', polymorphic_url(current_user.institution) %></li>
            <% if @user_institution_repositories.any? %>
                <li role="presentation" class="divider"></li>
                <li role="presentation" class="dropdown-header">Repositories</li>
                <% @user_institution_repositories.each do |repo| %>
                    <li><%= link_to repo.name, repo %></a></li>
                <% end %>
            <% end %>
          </ul>
        </div>
    <% end %>
  </header>

  <% flash.each do |type, message| %>
      <div class="alert alert-dismissable <%= bootstrap_class_for(type) %>">
        <button type="button" class="close" data-dismiss="alert"
                aria-hidden="true">&times;</button>
        <%= message %>
      </div>
  <% end %>

  <div style="clear:both"></div>

  <%= render 'layouts/modal_panel' %>

  <div id="page_content">
      <%= yield %>
  </div>

  <%= render 'layouts/footer' %>

</div>

</body>
</html>
