<!DOCTYPE html>
<html>
<head>
  <title>PSAP | <%= yield(:title) %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all',
                          'data-turbolinks-track' => true %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
    <%= render 'layouts/header' %>

    <div class="container">
      <header>
        <%= image_tag('psap.png', size:'120x120', alt:'PSAP logo',
                      id:'title_logo') %>
        <h1 id="title">PSAP <span id="subtitle">Preservation Self-Assessment
          Program</span></h1>
      </header>

        <% if signed_in? %>
          <ul>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.institution.name %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="">Repositories</a></li>
                <li><a href="">Locations</a></li>
              </ul>
            </li>
          </ul>
        <% end %>

        <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>

        <!--
        <ul class="nav nav-tabs">
          <li class="active"><a href="">Collections</a></li>
          <li><a href="">Perform Assessment</a></li>
          <li><a href="">View Report</a></li>
        </ul>
        -->

        <%= yield %>

        <%= render 'layouts/footer' %>

        <%= debug(params) if Rails.env.development? %>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
